.seo{display:none;}
.no-border{border: 0;}
.align-right{text-align:right;}
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: rgb(41, 41, 49);
    margin: 0;
}
a {
    color: rgb(132, 17, 39);
}
a:hover {
    color: black;
}
.clear{
    clear: both;
    visibility: hidden;
    border:0;
    margin: 0.5em 0;   
}
strong{
    font-weight: bold;    
}
em {
    font-style: italic;    
}
h1,h2,h3,h4{
    font-variant: small-caps;
    font-weight: normal;
}
h1{
    font-size: 1.6em;
    line-height: 1.1em;
}
#bd {
    padding: 0 1.1em;
}
#doc > div{
    padding: 0 1em 0.3em 1em;
}
.img-parent{
    text-align: center;    
}
/*************
    HEADER
**************/
#hd{
    border-top: 4px solid black;
    margin: 0;
    margin-bottom: 3em;
    font-size: 1.1em;
    position: relative;
    color: black;
}
#hd a{
    text-decoration: none;
    color: black;
}
#hd #menu a{
    margin-left: 0.7em;
}
#hd #menu a:hover{
    font-weight: bold;
    margin-left: 0.4em;
}
#hd #logo{
    font-size: 2em;
    float: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
#hd #logo #x{
    color: rgb(132, 17, 39);
    font-weight: 600;
}
#hd #menu{
    bottom:0.49em;
    position:absolute;
    right:1em;
}
#hd ul{
    margin: 0;    
}
#hd #menu li{
    display: inline;
    font-variant: small-caps;
}
/*************
    SIDEBAR
**************/
#home .sidebar{
    background-color: #EEE;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border: 1px solid #CCC;
    padding: 0.5em;
}
.sidebar{
    font-size: 0.8em; 
 }
.sidebar h1{
    margin-bottom: 0.4em;
    font-size: 1.4em;   
}
.sidebar #nav{
    line-height: 1.3em;
}
.sidebar #nav h1{
    margin-top: 0;
}
.sidebar #nav ul li{
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0.5em;
}
/*************
    FOOTER
**************/
#ft{
    margin-top: 11px;
    padding-top: 0.5em;
    color: #666;
    border-top: 1px solid #CCC; 
    font-size: 0.9em;
}
#ft div.last{
    text-align: right;   
}
/******************
    HOME CONTENT
******************/
#home h1, #post h1.first, #archives h1.first{
    margin-top: 0;    
}
#home h1 a, #archives a{
    color: #292931;
    text-decoration: none;
}
#home h1 a:hover, #archives a:hover{
    color: rgb(132, 17, 39);
}
#pub div span{
    font-size: 1.6em;    
}
span.postdate{
    margin-right: 1em;
    color: #DDD;
}
h1.section{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #CCC;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
#lastbooks{
    text-align: center;    
}
#lastbooks .book{
    display: inline-block;    
    width: 15%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;  
    border: 7px solid #DDD;    
}
#lastbooks .book .caption{
    position:absolute;  
    background:#000;  
    height:60px;  
    width:100%;   
    /* transparency for different browsers */    
    opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
}
#lastbooks .book .caption {
    bottom:-60px;         
} 
#lastbooks .book .caption span{  
    color:#EEE;
    font-weight: normaln;   
    font-size:9px;  
    display:block;  
    padding:5px 10px 0 10px;  
} 
/*************
    POSTS
**************/
#post{
    line-height: 1.4em;
}
#post blockquote{
    font-style: italic;
    border-left: 0.1em solid #841127;
    padding-left: 1em;
}
#post ul {
    margin-left: 0;
}
#post ul li{
    list-style-type: square;
    list-style-position: inside;
}
.footnote hr{
    width: 7em; 
    float: left;   
}
.footnote ol{
    clear: left;
    font-size: 0.9em;    
}
.footnote ol p{margin-bottom:0;}
/***************
    ARCHIVES
***************/
#archives{
    font-size: 1em;    
}
#archives ul{
    margin: 0;
}
#archives ul li{
    list-style-position: outside;
    list-style-type: none;
}
span.date{
    color: #DDD;    
}
/****************
      DISQUS
****************/
#dsq-comments-title{display:none !important;}
.dsq-options{display:none !important;}
#dsq-pagination{
    background:none !important;
    position: absolute;
    left: 75%;
    top: 33px;
}
#dsq-new-post > h3{display:none !important;}
.dsq-dc-logo{display:none !important;}
.dsq-item-trackback{display:none !important;}
.dsq-brlink{display:none !important;}
#comments{
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 3px;
    position: relative;
}
#comments h2{border-bottom: 1px solid #EEE;}
#comments h2:hover{cursor:pointer;}
#comments a{color: black;}
#comments .sidebar{padding-top: 2em;}
#disqus_thread{display:none;}