#info h1{
    font-size: 80%;    
}

/**********
   DISQUS
**********/
#disqus_thread{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;    
}

.dsq-moderator{
    background-color: #A63349;
}