<div id="info" class="yui-gb">
    <div class="yui-u first"><h1>Moi</h1>Développeur passioné et avide lecteur je livre ici ce qui m'intéresse.</div>
    <div class="yui-u"><h1>Le meilleur</h1></div>
    <div class="yui-u last"><h1>Le dernier bouquin ajouté à ma bibliothèque</h1></div>
</div>
<div id="ft" class="yui-gc">
    <div class="yui-u first">Propulsé par <a href="{{links.hyde.source}}">hyde</a> | design par Valentin Jacquemin</div>
    <div class="yui-u last"><a href="#doc">Retour en haut</a></div>
</div>