{% extends "skeleton/_index.html" %}
{% block main_content %}
<div id="welcome" class="yui-b"><blockquote><div>Le savoir qui compte est celui qu'on se donne soi-même, par curiosité naturelle, passion de savoir.</div><div id="author">- Paul Léautaud</div></blockquote><hr class="clear"/></div>
<div id="bd">
    <div id="home" class="yui-gd">
        <div class="yui-u first">
            <h1>Derniers billets</h1>
            {% block list_posts_last%}
            {% endblock %}
        </div>
        <div class="yui-u" id="projects">
            <ul style="float: left;">
                <li>hyde</li>
                <li>SCBCD study guide</li>
                <li>BlogBridge</li>
            </ul>
            <div id="hyde-project">
                hyde project
            </div>
            <div id="scbcd-project">
                scbcd project
            </div>
            <div id="bb-project">
                bb project
            </div>
        </div>
    </div>
    <div >
            <h1>Derniers ajouts à ma bibliothèques...</h1>
            <div id="readings"></div>
    </div>
</div>
{% endblock %}   
