{% extends '_post.html' %}
{%hyde
title: "3 applics utiles"
created: 2007-10-01
categories:
    - divers%}
{% block article %}
{% article %}
Les stations mac sont réellement splendides à mes yeux. L'expérience
utilisateur est sans égale grâce aux différends effets de transparence et
d'animation. Une toute autre manière de penser que Windows. Il est vrai que
Vista comporte également de sympathiques nouveautés mais bon je ne veux pas
faire de comparaisons ou de débats mais plutôt parler de quelques applications
que je trouve sympathiques sur mac.

## [Delicious Library][1]

La première d'entre elle se nomme Delicious Library. Cette application permet
de gérer votre médiathèque entièrement. Vous pouvez y ajouter vos livres, cd,
jeux vidéos et films et ceux-ci prendront place dans votre étagère virtuelle.
L'ajout se fait très facilement grâce à la recherche intégrée qui se couple à
[Amazon][2] (uniquement Canada et France dans la version démo). Mais la
première astuce (assez bluffante je dois dire), c'est la lecture de code ISBN
grâce à l'iSight! Vous défilez simplement votre livre devant la webcam et hop
votre média s'ajoute sur l'étagère! Si vous possédez un lecteur de code barre
vous pouvez bien sûr l'utiliser et remplir votre médiathèque en moins de deux
de tout ce que vous possédez. L'ajout effectué, la fiche est remplie avec
l'avis général des internautes sur cette objet, différentes infos avec en
prime une liste d'objets similaires (fort sympathique lorsque l'on a apprécié
un bon bouquin par exemple.Delicious vous permet également de gérer une liste
d'amis à qui vous auriez prêté des objets de votre collection et qui vous
renseigne sur la date de retour prévu.

## Parallels Desktop

Parallels Desktop est une machine virtuelle permettant de faire tourner des
systèmes opératifs au sein même du votre. Ceci me permet donc de lancer par
exemple Windows Xp sur mon Mac. Fort utile pour lancer des démos jouables des
jeux qui m'intéressent et qui bien souvent ne tournent pas sur Mac. De plus
certaines applics ne sont pas portées sur Mac et donc une licence Microsoft
est souvent bien utile. Il existe plusieurs concurrents offrant ce genre de
service. J'en ai essayé 2 jusqu'à présent. Pour l'instant je reste sur celui-
ci; l'interaction entre la machine virtuelle et mon système hôte (ici mon mac)
est à mes yeux plus performante qu'avec le concurrent que j'ai pu essayer
(Innotek). Un partage commun est directement accessible, les périphériques
sont mieux gérés, DirectX sur la machine virtuelle (indispensable pour les
applications graphiques comme les jeux)... Vraiment une application très utile
et qui s'intègre très bien à Mac OS. Et encore davantage avec l'application
qui suit.

## VirtueDesktop

Cette application est simplement un gestionnaire de bureau. Très facile
d'accès pour tout utilisateur. Vous aurez donc la possibilité de créer
plusieurs bureaux ce qui permet de gérer ingénieusement ces applications. Dans
mon cas sur un bureau j'ai mon Mac OS et sur un autre bureau Windows XP. En
appuyant les touches _Shift + Ctrl + droite _ou _gauche_ du pavé directionnel
vous pouvez passer d'un bureau à l'autre avec une jolie animation
(configurable - perso j'ai laissé l'anim cubique) en prime. Ce qui est génial
c'est que Parallels peut passer votre machine virtuelle en plein écran, vous
pouvez passer donc d'un mac à un pc en une combinaison de touches!

Les deux dernières applics n'ont une interface à proprement parler
extraordinaire. VirtueDesktop n'a quasiment pas d'interface mais ces
applications et les applications mac en général s'intègrent vraiment bien à
l'os. C'est un réel plaisir que de travailler sur un mac. Je deviens vraiment
accro à tous ces effets.... Et ne plus voir d'écran bleu, ou de bulle de
notification toutes les 2 sec pour me faire savoir que des mises à jours sont
prêtes ou que je suis connecté au réseau local.... Ca fait du bien! (P.S : je
ne suis point du tout anti-microsoft)** **

   [1]: http://www.delicious-monster.com/

   [2]: http://www.amazon.fr (Amazon France)


{% endarticle %}
{% endblock %}
