{% extends '_post.html' %}
{%hyde
title: "Adobe AIR"
created: 2007-10-08
categories:
   - divers
   - dev%}
{% block article %}
{% article %}
Un article très intéressant concernant les [applications desktop riches][1]
(RIA) est parru sur DevX.com

Cet article compare 3 technologies ayant pour but la création de ce genre
d'application. Silverlight, Adobe AIR (anciennement connu sous le nom Apollo)
et JavaFX sont mis côte à côte pour la création d'un même widget, un
chronomètre.

Il est comme toujours évident qu'une technologie ne répondra pas à tous les
besoins. Mais concernant le développement d'application riche je me dis que je
vais peut-être bien me pencher davantage sur Adobe AIR quant on voit le
résultat du chronomètre sous cette technologie et le développement y ayant
mené. Ainsi le widget n'a aucune décoration et supporte la transparence. C'est
la différence principale mise en avant dans l'article. Peut-être qu'il y a
possibilité d'y arriver avec les autres technologies (en Java c'est possible
d'ôter la décoration donc en JavaFX sûrement aussi) mais AIR le fait très
simplement. Au niveau du déploiement les 3 technologies me semblent
défendables; il n'est en tout cas pas difficile d'effectuer cette opération
sur aucune des 3 technologies.

   [1]: http://www.devx.com/RichInternetApps/Article/35208/

{% endarticle %}
{% endblock %}
