{% extends "_post.html" %}
{%hyde
   title: Adopter le "assez bien"
   categories:
   - liens
   created: 2010-02-22
%}
{% block article %}
{% article %}
Le perfectionisme -- même dans une mesure relative -- est l'un des
plus grand freins à la réalisation de mes projets, informatiques ou
non d'ailleurs. Le fait de ne pas atteindre le top du top peut
carrément stopper la progression mais comme le mentionne cet article,
un trop grand nombre de fonctionalités, une portée trop large ou une
mise au jour du public tardive n'aident pas non plus.

> Perfectionism is the enemy of completion. Nitpick and worry about
  getting it “just right”, and you’ll never get it done. Done is
  better than right.

Il faut vraiment que je fasse tout pour garder ces conseils en tête!

<img src="/media/images/zenhabits.net.ico" class="links-ico"/> [4 Simple
						       Principles of
						       Getting to
						       Completion][1]

[1]: http://zenhabits.net/2010/02/completion-principles/
{% endarticle %}
{% endblock %}
