{% extends "_post.html" %}
{%hyde
   title: Charlie, non! N'abandonne pas l'iPhone!
   categories:
      - divers
   created: 2010-09-20
%}
{% block article %}
{% article %}

"CENSURE Charlie Hebdo contre Apple". Avec un titre pareil je ne
pouvais pas ignorer le dernier numéro du [Charlie][1]. Une tune en moins
dans mon portefeuille et la satisfaction de supporter une presse
tellement différente de ce qu'on nous sert dans la presse gratuite, je
ressors du kiosk avec une impatience dévorante de lire ce dossier.

J'adore les produits Apple, je me lance même actuellement dans le
développement iPhone c'est dire si ça m'intéresse. Je suis par contre
face à un cruel dilemme lorsque je me retrouve confronté à la
politique de la Pomme. Cette politique fermée, arguant un contrôle
total sur ce qu'on peut voir mais surtout un contrôle total ce qu'un
publieur pourra effectivement révéler sur ses terminaux *trendy*. Tout
ça limite notre liberté.

Cet article pointe du doigt ce problème et le fait comme d'habitude
d'une belle satire. La rédaction du Charlie Hebdo a décidé de ne pas
porter leur contenu sur iPhone/iPad principalement pour ne pas subir
la censure d'Apple. Leur argument tient dans la citation qui suit:

<div class="three left">
  {% markdown %}
> Charlie Hebdo n’a pas été censuré par Apple et c’est pour éviter de
l’être jamais que Charlie Hebdo ne sera jamais sur iPad. Crève, Steve
Jobs. Le caricaturiste américain Mark Fiore, Prix Pulitzer 2010, a été
censuré par Apple. Ses animations ne pouvaient pas être vues sur
iPhone. Le scandale a fait suffisamment de bruit pour que Steve Jobs
recule. Chacun doit-il mener le combat de son côté pour lutter contre
la censure Apple? Doit-on chacun quémander à Steve Jobs la liberté
d’expression?
  {% endmarkdown %}
</div>

<div class="three left lr">
  <img width="85%" class='aligncenter' src="http://www.charliehebdo.fr/images/actualites/951-08-Apple.jpg" />
</div>

<p class="clear">
L'article dans son entier vaut le coup. Foncez dans votre kiosk
préféré pour acheter le numéro de la 2ème semaine de septembre, à 2€50
vous n'avez aucune excuse.
</p>


La défense de la liberté (et pas uniquement de la presse) est un noble
combat qui vaut le coup. Typiquement, la presse a besoin de journaux
tel que le Charlie Hebdo (pour les suisses, jetez un oeil à [Vigousse][2]
le nouvel hebdomadaire satirique romand) ne serait-ce que pour
susciter controverse, faire réfléchir et arrêter de lire
continuellement une presse qui va toujours dans le même sens. Celui de
ceux qui détiennent le pouvoir (i.e. le fric).

Malgré tout ça, ça me chagrine de ne pas avoir le Charlie à
disposition sur mon iPhone. Et ça me chagrine encore plus en sachant
qu'il serait plutôt facile de publier leur journal tout en évitant les
dangers d'une (possible) censure! Absolument!

Steve Jobs & Co ont la main mise sur l'Apple Store. Clairement. Leur
enlever ça c'est ruiner leur business model. Par contre Apple peut
grandir tant qu'il le veut, il ne contrôlera jamais le web! Il ne peut
pas le contrôler mais de là à le délaisser il y a une marge. Or si le
support iPhone depuis une application web ne peut régater avec un
équivalent *natif*, il est possible de faire de belles choses quand
même! Cet article n'a pas pour but d'être technique je n'entrerai donc
pas dans les détails mais jetez un oeil par exemple à l'application de
[digg][0] ou encore [PaperChef][3]. Accédez ces liens depuis votre
iPhone et vous verrez que l'expérience est très bonne. Une application
adaptée à l'iPhone à travers un web libre c'est totalement possible!

Allez Charlie, n'abandonne pas l'iPhone!

[0]: http://digg.com/iphone
[1]: http://www.charliehebdo.fr/
[2]: http://www.vigousse.ch/
[3]: http://www.paperchef.com/index.php/en_mobile

{% endarticle %}
{% endblock %}
