{% extends '_post.html' %}
{%hyde
title: "Apprentissage de Flex"
created: 2008-09-24%}
{% block article %}
{% article %}
Alors que j'ai bien de la peine à avancer ma progression en ce qui concerne
[SICP][1] (la pile d'exercices est effrayante, j'ai stoppé la lecture du
bouquin..), j'ai commencé mon apprentissage de Flex. Par chance je suis bien
plus sérieux de coté-là. Allez savoir pourquoi... Enfin bref, je ne veux pas
lâcher SICP ça c'est sûr (la lecture en est très instructive) mais comme
j'aime à le faire, j'ai commencé à reporter ce que j'apprends sur Flex dans un
document que [je mets à disposition de qui voudra][2] (en ~anglais). Je le
mets à jour à mesure de mon avancement, n'hésitez donc pas à le consulter
régulièrement. Ce sont des notes en vrac mais qui peuvent être utiles pour
tout nouvel arrivant sur Flex, enfin je l'espère! Quelques resources à ceux
qui voudraient également se lancer dans cette aventure:

  * [La série LFFS][3] sur [InsideRIA][4]
  * [Flex in a Week][5] conçu par Adobe

Et bien sûr comme toujours, je suis preneur de tout conseils ou suggestions
dans cet apprentissage.

   [1]: http://www.poxd.org/2008/06/16/structure-and-interpretation-of-computer-programs/

   [2]: http://docs.google.com/Doc?id=dhbjj3rb_4685m6f8vx

   [3]: http://www.insideria.com/2008/02/lffs1-meet-the-authors-meet-fl.html

   [4]: http://www.insideria.com/

   [5]: http://www.adobe.com/devnet/flex/videotraining/


{% endarticle %}
{% endblock %}