{% extends '_post.html' %}
{%hyde
title: "Apprendre l'anglais"
created: 2008-05-08
categories:
    - divers%}
{% block article %}
{% article %}

Les cours d'anglais sont peut-être éloignés et vous avez envie de vous y
replonger?

J'ai le privilège actuellement de suivre un cours d'anglais par téléphone. Mon
employeur a la bonté de m'offrir cette prestation en partenariat avec
[goFluent][1]. Je dois dire qu'avoir des conversations uniquement en anglais
fait progresser, c'est réellement utile. Malheureusement tout le monde n'a pas
un employeur aussi sympa et non plus les moyens de s'offrir un telle
prestation...

Il existe cependant sur la toile plusieurs ressources extrêmement utiles pour
s'améliorer:

  * De nombreux podcats gratuits: il n'y a qu'à taper _english learn_ dans le
champ de recherche sous iTunes et une longue liste va s'afficher.
Personnellement j'aime beaucoup [_English as second language podcast_][2]_
_qui propose 2 podcasts par semaine avec 2 formule: l'_English Cafe _(sujets à
propos de la vie aux Etats-Unis) et un podcast traitant d'un sujet en
particulier (talking about prices, going into the military, etc.). Il est
également facile de trouver des podcasts pour améliorer son vocabulaire ou sa
grammaire... Really usefull!

  * Afin de lier l'utile à l'agréable, je trouve sympa de faire des mots
croisés en anglais. Et on peut en trouver pour tous les niveaux sur le net!
Par exemple, comme mon niveau est moyen pour l'anglais courant, en ce moment
je consulte ce site: [http://www.crosswordsite.com/usbeginner.shtml][3]

  * Enfin pour apprendre une langue, le plus important est de la parler! Et à
ce sujet j'ai reçu un mail hier concernant [Polyglot][4]. Polyglot est une
communauté ayant pour but de rassembler ses membres et de simplement faire
converser tout le monde, autour d'un verre, dans n'importe quelle langue
parlée par les membres de cette communauté. Le premier rassemblement des
membres suisses à lieu aujourd'hui à Genève! J'espère vraiment que cette idée
va se poursuivre.

Voilà trois moyens offerts gratuitement par Internet pour apprendre l'anglais.
Pas belle la vie? Vous connaissez d'autres bon plans? N'hésitez pas à laisser
un commentaire.

   [1]: http://gofluent.com

   [2]: http://www.eslpod.com/website/

   [3]: http://www.crosswordsite.com/usbeginner.shtml

   [4]: http://www.polyglot-learn-language.com/


{% endarticle %}
{% endblock %}
