{% extends '_post.html' %}
{%hyde
title: "Après DestroyFlickr, DestroyTwitter!"
created: 2009-02-16%}
{% block article %}
{% article %}
![DestroyToday][1]

Je n'en ai jamais parlé ici mais j'adore [DestroyFlickr][2]. Cette application
superbement sobre et intuitive permet de naviguer librement au sein de
l'immense masse d'images de [Flickr][3]. Codée sur la plateforme Air, on se
retrouve en 2 clics sur des photothèques que l'on n'aurait jamais parcourue
depuis le site de Flickr et ce avec un plaisir infini. Attention, à ne pas
installer au boulot! Bref tout ça pour dire, que Jonnie Hallman, le talentueux
développeur derrière DestroyFlickr (allez voir son [labo][4]), nous offre
maintenant le pendant twitter: j'ai nommé [DestroyTwitter][5]! Habitué à
Tweetdeck, Twitterrific et twhirl, je me réjouis de voir ce que cela donne...
Au 1er coup d'oeil, on retrouve des animations simples et agréables un design
d'une sobriété frappante qui est très loin de me déplaire... Bref, cela vaut
assurément le coup que vous alliez jeter un oeil à ce qu'il fait!

   [1]: http://farm4.static.flickr.com/3204/3285106435_cc31cf8159_o.jpg

   [2]: http://www.destroytoday.com/projects/destroyflickr (DestroyFlickr)

   [3]: http://flickr.com (Flickr)

   [4]: http://www.destroytoday.com/lab/convex_hull_2/

   [5]: http://www.destroytoday.com/projects/destroyflickr


{% endarticle %}
{% endblock %}