{% extends "_post.html" %}
{%hyde
   title: Biographie de RMS, le druide
   categories:
   - libre
   - liens
   created: 2010-03-11
%}
{% block article %}
{% article %}

Je fais pas mal de recherches actuellement pour ma suite d'articles
à propos du logiciel libre. A ce propos un livre vient d'être publié
librement faisant la biographie de Richard Matthew Stallman, guru de la
communauté du libre.

En lisant le deuxième chapitre vous trouverez une excellente analogie
donnée par le maître lui-même à propos des **enjeux du libre**. La voici:

> Il compare un logiciel à une recette de cuisine : les deux donnent
d’utiles instructions, pas à pas, pour accomplir une tâche
souhaitée. Ils peuvent être aisément modifiés en fonction des désirs
spécifiques de l’usager, ou de circonstances particulières. « Vous
n’avez pas à suivre une recette avec précision [...]. Vous pouvez
laisser de côté certains ingrédients. Ajouter quelques champignons
parce que vous en raffolez. Mettre moins de sel car votre médecin vous
le conseille – peu importe. »
> 
> « De surcroît [...], logiciels et recettes sont faciles à partager. En
donnant une recette à un invité, un cuisinier n’y perd que du temps et
le coût du papier sur lequel il l’inscrit. Partager un logiciel
nécessite encore moins, habituellement quelques clics de souris et un
minimum d’électricité. Dans tous les cas, la personne qui donne
l’information y gagne deux choses : davantage d’amitié et la
possibilité de récupérer en retour d’autres recettes intéressantes. »
> 
> [...] « Imaginez que les recettes soient emballées dans des boîtes
noires. Vous ne pourriez pas connaître les ingrédients utilisés,
encore moins les changer. Et si vous en faisiez une copie pour un ami,
ils vous qualifieraient de pirate et essaieraient de vous faire
emprisonner des années durant. Un tel changement susciterait un énorme
scandale chez les gens ayant l’habitude de partager des recettes. Mais
c’est exactement ce que nous impose le monde du logiciel
propriétaire. Un monde dans lequel la bienséance commune envers les
autres est prohibée ou empêchée. »

<img src="/media/images/framabook.org.png" class="links-ico"/> [Richard
Stallman et la révolution du logiciel libre][0] ([l'acheter en format
papier sur Amazon][1])

[0]: http://forge.framabook.org/stallman/
[1]: http://www.amazon.fr/gp/product/2212126093?ie=UTF8&tag=thpowo-21&linkCode=as2&camp=1642&creative=19458&creativeASIN=2212126093

{% endarticle %}
{% endblock %}
