{% extends '_post.html' %}
{%hyde
title: "Building GWT Comet based web app using Grizzly Comet"
created: 2008-05-21
categories:
    - dev%}
{% block article %}
{% article %}

J'ai [parlé il y a quelque temps][1] des difficultés de Java à fournir la
possibilité de mettre en place une architecture web riche... JavaOne étant
terminé, on retrouve maintenant ici et là les différentes présentations
disponibles sur le net et concernant ce sujet d'actualité, l'une d'elles
semble être particulièrement intéressante. J'ai nommé: [Writing Real-Time Web
Applications, Using Google Web Toolkit and Comet][2]. Il est possible de
retrouver les slides de la présentations en cliquant [sur ce lien][3]. La
présenation se base sur l'utilisation de l'outil de google [GWT][4] et du
serveur de Sun GlassFish couplé à [Grizzly Comet][5]. Enjoy!

   [1]: http://www.poxd.org/2007/11/19/java-et-le-web-20/

   [2]: https://www28.cplan.com/cc191/session_details.jsp?isid=294922&ilocation_id=191-1&ilanguage=english

   [3]: http://weblogs.java.net/blog/jfarcand/archive/Grizzly_GWT_BOF-4922.pdf

   [4]: http://code.google.com/webtoolkit/

   [5]: http://weblogs.java.net/blog/jfarcand/archive/2006/07/the_grizzly_com.html


{% endarticle %}
{% endblock %}
