{% extends '_post.html' %}
{%hyde
title: "Comment ne plus procrastiner"
created: 2009-03-07
categories:
    - divers%}
{% block article %}
{% article %}

Vous êtes beaucoup à reporter les choses au lendemain.... Oui ok, NOUS sommes
beaucoup à reporter les choses au lendemain. C'est l'enfer comme trop souvent
on se retrouve à devoir au dernier moment nous mettre à bosser comme des fous
pour terminer une tâche... Mais comment s'améliorer? Voici une observation
fort utile dans ce contexte tirée du site [e! Science News][1]:

> The findings, reported in _Psychological Science_, a journal of the
Association for Psychological Science, were very clear. Even though all of the
students were being paid upon completion, those who thought about the
questions abstractly were much more likely to procrastinate--and in fact some
never got around to the assignment at all. By contrast, those who were focused
on the how, when and where of doing the task e-mailed their responses much
sooner, suggesting that they hopped right on the assignment rather than
delaying it.

Voilà peut-être l'une des clés. Définir **comment**, **quand** et **où**
effectuer nos tâches restantes. Je ne suis pas psychologue mais pour moi, le
**pourquoi** est quasi aussi important pour rester productif. Je suis persuadé
que si l'on comprend bien le pourquoi de la tâche, ce qu'elle apportera
concrètement une fois accomplie, la motivation sera encore plus grande que de
simplement connaître le processus pour l'accomplir. Celà rappelle facilement
la [méthodologie Getting Things Done][2] de Dave Allen qui, si vous ne la
connaissez pas encore vous enchantera j'en suis certain!

   [1]: http://esciencenews.com/articles/2009/01/12/why.we.procrastinate.and.how.stop

   [2]: http://www.poxd.org/blog/2008/10/23/critique-de-livre-getting-things-done-de-david-allen/


{% endarticle %}
{% endblock %}
