{% extends '_post.html' %}
{%hyde
title: "Conception et développement Spring - 3ème jour"
created: 2008-12-12%}
{% block article %}
{% article %}
Ces 3 jours de formation ont été vraiment sympa. Ils m'ont permis de surtout
en apprendre au niveau conception par rapport à l'intitulé du cours. Comme
j'avais déjà parcouru le livre Spring In Action, les infos révélées en rapport
à Spring lui-même ne m'ont pas été d'un grand apport. Merci donc à Logica pour
cette sympathique opportunité! Le 3ème jour a été passé à implémenter la
solution finale du cas d'authentification avec une intégration d'Hibernate et
Struts. Je mets le [code source à disposition][1] comme simple référence. Le
zip contient un versioning de chaque étape que l'on a suivi en cours. Si vous
avez des questions n'hésitez pas à me contacter!

   [1]: http://dl.getdropbox.com/u/132511/formation_spring.zip


{% endarticle %}
{% endblock %}