{% extends "_post.html" %}
{%hyde
   title: "Correction orthographique en français sous Emacs Carbon"
   categories:
   - dev
   - divers
   created: 2010-02-20
%}
{% block article %}
{% article %}

Depuis la migration de ce blog à [hyde][0] j'écris tous mes billets
sous Emacs. Cette véritable machine à tout faire me convient
parfaitement pour écrire, je le mets en mode plein écran et c'est
parti.

Avant la publication je vérifie les erreurs d'orthographe qui ont pu
s'insérer par inadvertance. Emacs fournit de base cette fonctionnalité
grâce à la fonction <code>ispell</code>. Sur mon mac par contre
uniquement le dictionnaire anglais est supporté de base et vu le temps
que j'ai mis à configurer Emacs pour supporter la correction en
français, je me suis dit qu'un petit billet pourrait en aider
d'autres...

# Vérifier l'installation de ispell

<code>ispell</code> n'est pas réservé à Emacs, <code>ispell</code> est
un outil en ligne de commande sur tout système d'exploitation
Unix. Emacs utilise donc une interface à cet outil afin de fournir la
correction. Tapez <code>ispell -v</code> sur la ligne de commande afin
de vérifier qu'il est bien installé. Si par hasard ce n'était pas le
cas, rendez-vous sur la [page dédiée][3] à l'outil et suivez ensuite
les instructions au sein du fichier <code>README</code> tout devrait
se dérouler sans problème. L'appel à <code>ispell -v</code> devrait
alors fonctionner.

# Trouver le dictionnaire français pour ispell

<code>ispell</code> a besoin de dictionnaires pour lancer sa
correction, la première tâche est donc de trouver un dictionnaire
français adapté. Après avoir *googlé* durant une bonne vingtaine de
minutes sans succès, je me suis connecté au channel
irc <code>#fsf</code> pour y demander de l'aide. En deux secondes j'ai
été redirigié sur les [archives des packages de la distribution Linux
Debian][1] fournissant exactement ce dont j'avais besoin. Comme quoi
Google n'a pas toujours réponse à tout tout de suite.

Une fois le dictionnaire téléchargé pour la plate-forme adéquate il ne
reste plus qu'à lancer l'utilitaire <code>makehash</code>. Ce dernier
compile le dictionnaire dans le format requis
par <code>ispell</code>. Il ne reste plus qu'à déplacer ces fichiers
compilés. Dans mon cas je les ai déplacé dans le
répertoire <code>/usr/local/lib</code>, dans le vôtre ce sera
peut-être différent.

Retour à la ligne de commande et testez <code>ispell -d
francais</code>. Vous pouvez dorénavant entrez n'importe quel mot
français et la correction se fera en fonction.

# Intégration à Emacs

Ce n'est pas encore terminé car même si <code>ispell</code> fonctionne
maintenant bien en ligne de commande ce n'est peut-être pas encore le
cas sous Emacs. A ma surprise en effet, Emacs bien que proposant la
fonction
<code>ispell</code> pour lancer la correction, utilise au final
<code>aspell</code> qui est un autre outil de correction
similaire. Quelle confusion!

Sous Emacs[^0], lancez la commande <code>(setq ispell-program-name
"ispell")</code> ou bien ajoutez-la directement dans le fichier de
configuration
<code>~/.emacs</code>.

Après avoir configuré Emacs pour choisir le dictionnaire français
(<code>ispell-change-dictionary</code>), plus qu'à lancer la commande
<code>ispell</code> et cette fois-ci le tour est joué!

[0]: http://ringce.com/hyde
[1]: http://packages.debian.org/fr/sid/ifrench-gut
[3]: http://www.gnu.org/software/ispell/
[^0]: Pour évaluer une commande sous emacs faites <code>M-:</code>

{% endarticle %}
{% endblock %}
