{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Le jour des triffides par John Wyindham"
   categories:
       - lectures
       - 110 meilleurs livres
   created: 2011-05-04
%}
{% block article %}
{% article %}

<div class="five left">
  {% markdown %}

Si Will Smith et son cleps seuls contre des zombies dans "Je suis une
legende" ou encore Tom Cruise face aux Tripods de "La guerre des
mondes" vous ont plu, en voilà un autre du genre: le jour des
Triffides.

Ce livre a d'ailleurs lui aussi son adaptation cinématographique; qui
date un peu par contre.

En ce qui concerne le bouquin, on se retrouve de facon similaire dans
la peau d'un gars qui par (mal)chance doit affronter un monde empli de
bestioles qu'il connait ma fois assez bien pour les avoir étudiées en
labo: les Triffides.

Ces Triffides ce sont des arbres. Pas forcément les gentils Ents que
vous connaissez. Les Triffides ne voient ni ne parlent eux, et sont
exploités par les humains pour leur sève aux propriétés énergétiques
très profitables.

Mais voilà, un accident et hop leur cécité n'est plus un si terrible
désavantage puisqu'en face les humains ne voient plus rien non plus!
La menace est sérieuse. Les Triffides sont nombreux et, bien
qu'aveugles, semblent communiquer entre eux. Leur but parait loin
d'être pacifique... Envie de vengence? Peut-etre. Assez pour se
debarasser de leurs récents exploiteurs? A découvrir.

Je me suis laissé embarquer par ce bouquin meme si c'est le genre de
scenario que l'ont retrouve dans plusieurs bouquins de science
fiction. Je n'ai pas lu Je suis une légende mais Le jour des Triffides
vaut largement La guerre des mondes.

> Mon père m'avait un jour raconté qu'avant la guerre contre Hitler,
  il avait pris l'habitude de faire le tour de Londres, les yeux
  grands ouverts plus que jamais, pour admirer des bâtiments qu'il
  n'avait jamais remarqués auparavant et leur dire adieu. J'éprouvais
  en cet instant un sentiment similaire, mais notre situation avait
  quelque chose de plus tragique. La plupart des gens pouvaient avoir
  un certain espoir de survivre à la guerre. Là, nous avions affaire à
  un ennemi qui ne les laisserait pas survire.

> [...]

> L'esprit humain est incapable de demeurer trop longtemps dans une
  humeur tragique -- tel un phénix, il renaît de ses cendres. Cela
  peut s'avérer utile ou nuisible -- c'est juste une manifestation de
  notre volonté de vivre.

  {% endmarkdown %}
</div>
<div class="one left lr">
  <strong> Sur Amazon</strong>
  <a href="http://www.amazon.fr/gp/product/2070312631/ref=as_li_ss_il?ie=UTF8&tag=thpowo-21&linkCode=as2&camp=1642&creative=19458&creativeASIN=2070312631"><img border="0" src="http://ws.assoc-amazon.fr/widgets/q?_encoding=UTF8&Format=_SL160_&ASIN=2070312631&MarketPlace=FR&ID=AsinImage&WS=1&tag=thpowo-21&ServiceVersion=20070822" ></a><img src="http://www.assoc-amazon.fr/e/ir?t=&l=as2&o=8&a=2070312631" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>


{% endarticle %}
{% endblock %}

