{% extends '_post.html' %}
{%hyde
title: "Critique de livre: Les cerfs-volants de Kaboul par Khaled Hosseini"
created: 2008-10-30%}
{% block article %}
{% article %}
Voilà une œuvre passionnante racontant l'histoire d'un américain immigré à mi
chemin entre culpabilité et rédemption face à son passé douloureux en
Afghanistan. On y découvre tout d'abord un beau pays , chaleureux et
hospitalier mais qui malheureusement sous le feu du fanatisme ou d'une
dévotion quelque peu "spéciale" s'est retrouvé subitement face aux explosions
et autres exécutions en public.

Une amitié liant Amir, un afghan chiite et Hassan son serviteur sunnite, voilà
la trame de fond de ce livre. Autour de cela, à l'instar des mouvements
extrémistes, on découvre la haine et l'intolérance face aux différences
idéologiques.

Véritable tragédie, l'auteur m'a personnellement captivé de part son ton et
les sentiments qu'il fait passer entre Baba et son fils, entre ce fils et son
serviteur, etc. Ce livre en apprend également beaucoup sur l'histoire afghane
et c'est pas pour me déplaire...

Finissons avec une citation du livre résumant bien la situation:

> Si les enfants sont nombreux en Afghanistan, l'enfance, elle, y est quasi
inexistante.


{% endarticle %}
{% endblock %}