{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: La taupe de John Le Carré"
   heading: La taupe de John Le Carré
   cover: http://ecx.images-amazon.com/images/I/21FlCcQhniL._SL160_.jpg
   categories:
    - lectures
    - 110 meilleurs livres
   created: 2010-02-16
%}
{% block article %}
{% article %}

<div class="five left">
  {% markdown %}
Lorsqu'un livre me plaît, je lis volontiers dans le train en allant au
boulot et en en revenant. Lorsqu'un livre m'accroche sérieusement en
plus du train je lis également en me couchant mais alors si un livre
me passionne, que j'ai envie de le dévorer je suis prêt à faire
l'asocial sur ma pause de midi pour m'isoler et lire...

Tout ça pour dire, que La Taupe de John le Carré, j'ai mis presque un
mois à le lire, donc non je ne l'ai pas souvent lu dans le train,
jamais en me couchant et mes collègues ne m'ont pas vu disparaître
durant tout ce temps-là à la pause déjeuné.

Ce livre a pourtant une excellente critique, c'est pas pour rien qu'il
figure dans la *liste des 110 meilleurs livres*... Bon sang j'ai
loupé quoi?!

Pour faire l'analyse de ma *non-motivation* à lire ce livre je crois
que l'on peut résumer ça à peu de choses: des personnages qui ne m'ont
pas forcément marqué, un départ trop lent et une intrigue un peu
vague.

Souvent en lisant je me disais "ah oui celui-là c'est qui déjà? --
il est arrivé quand? -- il est dans quel camp?". Je crois pas que c'est
par manque de compréhension mais vraiment plus un manque
d'emprise. Prenons par exemple le *pauvre* Smiley -- le personnage principal -- il
est certes intelligent, il avance gaillardement dans son enquête mais
bref, il fait pas envie! Il aime sa Ann qui ne l'aime plus, il est
persuadé qu'elle l'a trompé, il l'a voit plus et il est complètement
morose. En plus on comprend rapidement qu'il s'est fait jeter par les
services secrets, bref c'est pas la joie sa vie. D'ailleurs pour ne
citer qu'un extrait du livre, voilà ce que ça donne:

> L'espace d'un moment, voilà ce qu'était Smiley: un espion bedonnant
  et pieds nus, comme dirait Ann, déçu en amour et impuissant dans la
  haine, serrant un pistolet dans une main, un bout de ficelle dans
  l'autre, tout en attendant dans l'obscurité.

Triste non?

C'est pas seulement la morosité qui m'a rebuté. La lenteur aussi. Au
départ on se trouve dans un collège avec un gamin qui rencontre un
nouveau prof avec qui se crée un certain lien... Mais c'est long!
L'action tarde à venir, l'intrigue aussi, on ne sait pas pourquoi on
est là, ni quand d'ailleurs.

Bref, je n'ai pas envie de dégoûter les amateurs de livres et peut-être
-- je l'espère -- que j'ai loupé un truc mais personnellement ce ne
sera pas mon livre de chevet de sitôt. Il me faudra certainement le
relire un jour pour essayer de percer la chose et comprendre pourquoi
un si grand nombre de gens adorent ce livre, disant même que c'est l'un
des tous meilleurs livres d'espionnage.
  {% endmarkdown %}
</div>
<div class="one left lr">
  <strong>Sur Amazon</strong>
  <iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2020479915" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>

{% endarticle %}
{% endblock %}
