{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: L'enfant perse"
   categories:
   - lectures
   - 110 meilleurs livres
   created: 2009-09-16
%}
{% block article %}
{% article %}
C'est dans la peau du jeune perse Bagoas que l'on suit les péripéties d'Alexandre tout au cours de ce <a href="http://www.amazon.fr/gp/product/225310924X?ie=UTF8&tag=thpowo-21&linkCode=as2&camp=1642&creative=19458&creativeASIN=225310924X">deuxième tome</a><img src="http://www.assoc-amazon.fr/e/ir?t=thpowo-21&l=as2&o=8&a=225310924X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />. On poursuit l'histoire d'un grand homme dans un premier temps depuis le camp adverse puisque Bagoas se trouve aux services de Darius en tant qu'eunuque.

Bien que Bagoas soit lui-même un esclave d'un genre plutôt privilégié - il est l'amant du roi - on retrouve toute l'importance que les esclaves vouent à leur maître. Il réserve ainsi une admiration à son roi bien que celui-ci se retrouve plus d'une fois dans une situation peu valorisante. Il perd en effet plusieurs fois l'occasion de démontrer son courage  lors de plusieurs batailles. Le clou de son règne étant la bataille de Gaugamèle lorsqu'il bat retraite alors qu'Alexandre domine l'armée perse. C'en est trop pour les compatriotes de Bagoas, Darius va tomber.

Darius tombe et à partir de là, nous retrouvons Alexandre qui à son tour prend Bagoas à son service. Et alors que Bagoas vouait un grand respect à son roi perse, Alexandre va pouvoir compter sur l'amour authentique de Bagoas. Bagoas l'admire. Au travers de ses yeux on découvre ce qu'est devenu Alexandre. Alors qu'au cours du premier tome nous avions pu voir un Alexandre téméraire et très précoce on découvre ici un roi courageux:

> Et il n'a peur de rien! rien du tout!

Un roi qui attache une importance toute particulière à la fidélité, à l'amour 

 > Il ne cesse jamais d'aimer

Il a une haute estime pour tous ses compatriotes, il aime réellement son peuple et ce même lorsqu'il s'étent à plusieurs cultures. Cela comporte des difficultés évidemment. Par exemple pour les macédoniens il est devenu normal de pouvoir converser et évoquer ses problèmes avec le roi de manière quasi familière:

> Ils ne veulent pas suivre une image royale qu'ils ne peuvent approcher qu'à plat ventre.

Par contre pour les perses, c'est tout autre! Le respect du roi est bien plus présent, c'est impensable de se voir présenté à lui sans faire de génuflexion. D'où un casse-tête pour Alexandre, mais comme toujours il s'en sort à bon compte en arrivant à unir ces deux cultures forcément très différentes.

Alexandre aimait son peuple jusqu'à penser parfois qu'il lui était impossible de faire quelque chose de mal. Bagoas apprécie beaucoup cet aspect de sa personnalité lorsqu'il dit:

> Je l'aimais d'avoir tant de mal à envisager le pire, même de la part d'un homme qui lui avait tant nui.

Bref, les qualités d'Alexandre sont fort bien vantées par l'auteur. On y découvre également l'envie insatiable d'Alexandre de découvrir le monde et d'y faire régner des principes élevés. Dans un style toujours autant agréable, on passe un moment très agréable en découvrant de multiples cultures, des contrées du monde lointaines... Bref, je le recommande tout autant que le premier!
{% endarticle %}
{% endblock %}
