{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Si c'est un homme par Primo Levi"
   categories:
     - lectures
     - 110 meilleurs livres
   created: 2010-12-05
%}
{% block article %}
{% article %}

Primo Levi fait partie des juifs ayant survécu aux camps de
concentration. Ce livre fort, fait office de témoignage. Un témoignage
frappant de part bien sûr ce qu'il évoque mais aussi par la distance
que Levi démontre face aux événements.

Mais pourquoi se remémorer de tels épisodes si terribles ? On pourrait
se le demander et j'ai mon opinion toute personnelle mais l'auteur
donne la sienne, profitons donc d'une citation pour la découvrir:

> Nous sommes persuadés en effet qu'aucune expérience humaine n'est
  dénuée de sens ni indigne d'analyse, et que bien au contraire,
  l'univers particulier que nous décrivons ici peut servir à mettre en
  évidence des valeurs fondamentales, sinon toujours positives. Nous
  voudrions faire observer à quel point le Lager a été, aussi et à
  bien des égards, une gigantesque expérience biologique et sociale.

Sortie de son contexte on pourrait croire à un manque de sentiment,
une distance froide par rapport au sujet si remuant mais ici c'est
bien un acteur direct de cet épisode terrible qui parle. Gardons-nous
donc de tout jugement. Cette distance ressort d'ailleurs beaucoup
durant tout le récit. La haine, le ressentiment ou tout autre
négativisme a peu de place au contraire de l'analyse et du simple
témoignage des faits donné par Levi. Analyse qui ressort par exemple
ici:

> La mémoire est une bien curieuse mécanique: durant tout mon séjour
  au camp, ces deux vers qu'un de mes amis a écrits il y a bien
  longtemps me sont régulièrement revenus à l'esprit:
  
> jusqu'à ce qu'un jour dire "demain" n'ait plus de sens
  
> Ici, c'est exactement comme ça. Savez-vous comment on dit "jamais"
  dans le langage du camp? "Morgen früh", demain matin.

Bon, même si il y a de la distance par rapport aux "méchants" de
l'histoire, on ressent par contre bien le mal que cette tragédie a pu
avoir sur lui. Après une année de captivité dans des conditions
insoutenables, Levi exprime à quel point sa vie a pu changer:

> j'avais un nom de famille, un esprit curieux et inquiet, un corps
  agile et sain. Je pensais à toutes sortes de choses très lointaines:
  à mon travail, à la fin de la guerre, au bien et au mal, à la nature
  des choses et aux lois qui gouvernent les actions des hommes; et
  aussi aux montages, aux chansons, à l'amour, à la musique, à la
  poésie. J'avais un confiance énorme, inébranlable et stupide dans la
  bienveillance du destin, et les mots "tuer" et "mourir" avaient pour
  moi un sens tout extérieur et littéraire. Mes journées étaient
  tristes et gaies. Mais je les regrettais toutes, toutes étaient
  pleines et positives; l'avenir s'ouvrait devant moi comme une grande
  richesse. De ma vie d'alors il ne me reste aujourd'hui que la force
  d'endurer la faim et le froid; je ne suis plus assez vivant pour
  être capable de me supprimer.

<div class="one left">
<iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2266022504" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>

<div class="five left lr">
  <p>
La machine de guerre Hitlérienne a heureusement échoué. Au passage par
contre bien des vies ont été détruites. Les survivants tels que Levi
font office de témoins, témoins salvateurs dont l'Histoire a besoin
pour ne pas retomber dans des idées si mauvaises, si inhumaines. Pour
certains Levi se serait donné la mort en 1987, d'autres ne veulent le
croire faute de preuves mais aussi et surtout pour ne pas croire que
le témoignage emprunt de force de vie et d'abnégation face à la
terreur ne puisse finir si tragiquement.
  </p>
</div>

Quoiqu'il en soit, le témoignage de Levi fait partie des livres que
j'ai le plus aimé cette année.

J'ai le sentiment là tout de suite que cette critique n'en est pas
vraiment une, que ce que j'ai écrit est de piètre qualité. C'est comme
ça parfois, mais bon ou pas, je tiens à publier ce billet. Je voudrais
bien sûr écrire que des choses de qualité mais il faut beaucoup se
planter pour réussir à ce qu'il paraît.

{% endarticle %}
{% endblock %}
