{% extends '_post.html' %}
{%hyde
title: "Critique de livre: The Non-Designer's Design Book"
created: 2009-05-22
categories:
    - lectures%}
{% block article %}
{% article %}
En presque 200 pages, Robin Williams nous emmène dans le monde du design. Et
quel voyage! Nombreux sont ceux qui arrivent à évaluer l'attractivité d'une
publicité, du design d'un site web ou que sais-je. Mais qui est-ce qui est
capable de dire **pourquoi**? Exercice bien plus difficile. On a en effet pour
beaucoup un certain sens du goût et de ce qui est beau, mais l'auteure le dit
bien: _if you can put the dynamics of the relationship into words, you have
power over it._ Mettre un nom sur les concepts et on s'en trouve maître! A ce
propos, Robin Williams, démarre sa rédaction par un fait très intéressant:
elle a reçu un jour un livre de description d'arbres. Elle feuillette son
livre et y découvre un arbre très facile à reconnaître mais qu'elle ne pense
pas trouver dans sa région. Bref, elle sort se promener dans le quartier afin
de tenter de reconnaître quelques arbres et qu'est-ce qu'elle voit? 4 maisons
sur 6 de son voisinage possédaient cet arbre dans leur jardin[^1]! Du moment qu'elle a pu mettre un
nom sur cet arbre, elle s'est rendue compte qu'il y en avaientt dans son
quartier. L'idée de ce livre part du même principe. Savoir pourquoi un design
est bon, mettre un nom, des règles sur ce qui rend beau permettra au novice de
bien démarrer. Le texte passe 4 principes en revue en première partie:

  * Contraste : attire l'oeil, donne de l'attrait. Devise: **don't be a
wimp!**[^2] Si le contraste est trop faible il
s'apparente à une erreur.

  * Répétition : consistence

  * Alignement : crée une cohésion, même si deux éléments sont éloignés l'un
de l'autre

  * Proximité: savoir grouper les éléments

La deuxième partie donne une introduction sur les fontes de caractères. J'y ai
beaucoup appris et beaucoup apprécié comment l'auteure pousse à observer dans
les magazines par exemple les différentes fontes existantes. Et à nouveau,
donner un nom. De quel groupe fait partie tel fonte? Quelles sont ses
caractéristiques (serif, ou sans, stress ou pas, roman, italique, etc.)?
Pourquoi l'interaction entre deux fontes fonctionne ou pas? Bref, lire ce
livre permet d'en savoir plus sur le design. Connaître certains principes de
bases donnent une petite assurance et fait naître une envie de critiquer (bien
ou mal) ce qu'on voit en y donnant un nom. On sait pourquoi ça marche et on se
sens du coup davantage capable. Je ne peux donc que le conseiller à qui
aimerait découvrir le design et acquérir une certaine base.

   [1]: http://fr.wikipedia.org/wiki/Yucca_brevifolia
   [^1]: L'arbre en question était un [Yucca brevifolia][1]
   [^2]: Fais pas la poule mouillée

{% endarticle %}
{% endblock %}
