{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Histoire de la guerre du Péloponnèse, tome 1"
   created: 2009-07-25
   categories:
    - lectures
    - 110 meilleurs livres
%}
{% block article %}
{% article %}
Traducteur de l'oeuvre qui est passée entre mes mains, Jean Voilquin fait de l'oeuvre de Thucydide une introduction des plus vantarde:

> La valeur de l'oeuvre de Thucidyde ne saurait être exagérée (...). Faut-il, en outre, signaler l'intérêt actuel qui s'attache à la guerre du Péloponnèse? Tous les problèmes politiques, moraux ou philosophiques qui tourmentent à l'heure actuelle une humanité désorientée s'y trouvent posés: rapports de l'individu et de l'Etat, rapports des peuples entre eux, immoralité de la force brutale, rôle des individus dans la conduite des sociétés. (...) Quand des esprits paradoxaux croient pouvoir nier l'utilité de l'histoire, nous découvrons à chaque instant dans la vie moderne des analogies avec le monde dont Thucidyde a écrit l'histoire.

Certainement! On le sait bien, connaître l'histoire devrait nous permettre de ne plus commettre les mêmes erreurs, d'analyser avec intelligence les situations pouvant être similaires à l'heure actuelle... Mais pouvons-nous seulement dire qu'aujourd'hui nous avons réellement progressé depuis l'ère de domination grecque? Débat dans lequel je ne m'engagerai pas, parlons plutôt de l'oeuvre en elle-même.

L'une des premières choses à ressortir à mon avis, c'est l'effort donné par Thucydide pour se montrer neutre. Surtout lorsque l'on sait qu'il était partie prenante à cette guerre! Il y défend d'ailleurs à un moment donné ses actes avec une certaine ferveur. Je ne suis pas spécialiste des oeuvres historiennes et n'aurait certainement pas pu l'être. Rien qu'à voir le temps que j'ai mis pour livre l'entier de ce livre, j'aurais trop rapidement baissé les bras! Je ne peux donc pas comparer le travail de Thucydide avec celui d'autres auteurs. Je n'ai cependant jamais eu le sentiment en tant que lecteur que les grecques aient été mis sur un pied d'estal. Le narrateur tente d'ailleurs de mettre rapidement les choses au clair lorsqu'il déclare:

> On n'accordera pas la confiance aux poètes, qui amplifient les événements, ni aux logographques qui, plus pour charmer les oreilles que pour servir la vérité, rassemblent des faits impossibles à vérifier rigoureusement et aboutissent finalement pour la plupart à un récit incroyable et merveilleux. On doit penser que mes informations proviennent des sources les plus sûres et présentent, étant donné leur antiquité, une certitute suffisante. (...) Quant aux événements de la guerre, je n'ai pas jugé bon de les rapporter sur la foi du premier venu, ni d'après mon opinion.

Ce louable effort rend malheureusement le récit terne pour la majeur partie. Je ne sais si récit est le bon mot. C'est assurément un témoignage de l'époque, on y découvre les problèmes politiques, les idéologies partagées par les athéniens d'un côté et les lacédémoniens de l'autre. Mais c'est bien un témoignage! Pas de sentiment, pas de parti pris, ce n'est pas un roman, c'est un livre d'histoire! Et visiblement, c'est l'une des premières oeuvres à être qualifiée en tant que tel.

Thucydide parle donc de la guerre du Péloponnèse se déroulant de -431 à -404 et mettant aux prises les Athéniens, grands navigateurs prônant la démocratie aux Lacédémoniens (dont fait partie Sparte) prônant l'aristocratie. Malgré l'ennui que peut provoquer certains passages du livre, on apprend beaucoup et ça j'adore. Ce qui m'a le plus captivé ce sont les passages où l'on devient auditeur de grands stratèges, de grands orateurs tel que Démosthène, Brasidas ou encore Périclès. J'ai aimé imaginer l'impact de ces discours bien souvent dynamisants, truffés de tournures faisant l'éloge de dirigeants bons tout en ne laissant finalement pas de réels choix quant aux "propositions" données. On découvre aussi les stratégies mises en place de part et d'autre pour écraser l'adversaire, les résultats du génie militaire (les débuts des lance-flammes!), les effets terrible d'une peste... bref j'ai appris des choses ce qui est l'essentiel pour moi lorsque je lis un livre.

Pour lire ce livre vous devez soit être un passionné d'histoire, soit être assez curieux pour pouvoir vous engager dans le genre de défis que je me suis lancé à savoir lire ces 110 meilleurs livres à lire! Enjoy!

## Si ça vous intéresse...

* [L'histoire de la guerre du Péloponnèse sur Wikipédia][1]
* [Thucydide sur Wikipédia][2]

[1]: http://fr.wikipedia.org/wiki/Guerre_du_Péloponnèse 
[2]: http://fr.wikipedia.org/wiki/Thucydide#Recherche_de_la_v.C3.A9rit.C3.A9
{% endarticle %}
{% endblock %}
