{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Le seigneur des anneaux"
   categories:
       - lectures
       - 110 meilleurs livres
   created: 2010-09-02
%}
{% block article %}
{% article %}

En trois tomes, Tolkien fait voyager le lecteur dans les plaines du
Gondor aux côtés des désormais 8 célèbres protagonistes de cette
aventure fantastique.

Pour être franc je n'ai pas été un immense fan de l'adaptation
cinématographique de la part de Peter Jackson. Du moins au
départ. J'ai commencé par le 2ème volet et il faut bien dire ce qui
n'est pas très judicieux. Sans vraiment connaître l'histoire et les
personnages je me suis ennuyé durant le film à voir ces arbres nommés
*ents* faire durer en longueur toutes ces histoires avec Merry et
Pipin sur leurs branches.

Mais ça ce n'est que mon avis à propos des films et d'ailleurs après
avoir pu voir la série dans l'ordre je me suis bien plus laissé
séduire.

Si je reviens aux livres je ne peux qu'en dire du bien. C'est magique,
un voyage extraordinaire, tout ce que j'ai envie de dire c'est que
j'adore ces hobbits et que j'ai envie de les rejoindre à Hobittbourg de
suite!

L'écriture est enchanteresse. On se plonge volontiers dans ces
immenses plaines à la recherche du meilleur chemin pour atteindre le
Mont du Destin. On a envie de faire partie de la troupe.

Pour ma part vous l'aurez compris ce serait de préférence sous la peau
d'un hobbit. Je crois que j'aime surtout Sam. Tous les hobbits aiment
particulièrement manger et boire mais il est le seul à se trimbaler
ses casseroles dans l'aventure! C'est le seul à faillir faire tout
capoter lorsqu'il fait rôtir un lapin pour son exténué de maître... Et
moi ça me fait bien rire ce genre de péripétie.

Rejoignez-moi et criez:

>> Vive les Semi-Hommes! Louez-les avec de grandes louanges!

Je ne peux que recommander chaudement de lire ces livres. Les films
sont bien je les aime aujourd'hui mais bien sûr les livres regorgent
d'une pléthore de détails et d'épisodes que le film a dû délaisser.

<div class="centered">
  <iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2266154117" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2266154133" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
<iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2266154125" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  <p class="caption">
    En achetant l'un de ces livres en cliquant sur les images vous me permettrez de recevoir une commission de la part d'Amazon.
  </p>
</div>

{% endarticle %}
{% endblock %}
