{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Le paradis perdu de John Milton"
   heading: Le paradis perdu de John Milton
   categories:
       - 110 meilleurs livres
       - lectures
   created: 2010-06-05
   cover: http://images.amazon.com/images/P/2070328384.01._SX140_SY225_SCLZZZZZZZ_.jpg
%}
{% block article %}
{% article %}

Encore un livre que je n'aurais certainement pas lu si la liste des
110 meilleurs livres ne le conseillait.

John Milton, british né le 9 décembre 1608, a mis au jour ici une
oeuvre poétique retraçant la vie d'Adam et Eve et la perte de leur
condition d'êtres parfaits dans ce qui est donc le paradis perdu.

Le texte est qualifié de poétique mais ne me demandez pas pourquoi, je
ne suis de loin pas assez qualifié pour définir les critères qui le
font entrer dans cette catégorie. N'attendez pas de rime ou
d'alexandrins, ce texte est poétique mais pas comme ca.

Si vous aimez les phrases bien tournées, contenant des mots
sophistiqués et que l'histoire biblique du début de la création vous
intéresse, ce livre vous enchentera à coup sûr. J'ai apprécié même
s'il m'a fallu un bout de temps pour le terminer, j'ai apprécié. Ce ne
sera pas le livre qui restera dans ma mémoire mais je suis franchement
content de l'avoir lu.

A vous de vous faire votre opinion.

Finissons avec une traditionelle petite citation:

> Adam ne fit aucun scrupule d'en manger malgré ce qu'il savait; il ne
  fut pas trompé; il fut follement vaincu par le charme d'une femme.

Ahhh ces femmes, la cause de tous nos soucis.

{% endarticle %}
{% endblock %}
{% block meta %}
{% markdown %}
#Sur Amazon
<iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2070328384" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
{% endmarkdown %}
{% endblock %}
