{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Les jeux funéraires -- Alexandre le Grand tome 3"
   cover: "http://ecx.images-amazon.com/images/I/51wppGNPEQL._SL160_.jpg"
   heading: "Les jeux funéraires -- Alexandre le Grand tome 3"
   categories:
      - lectures
      - 110 meilleurs livres
   created: 2009-11-28
%}
{% block article %}
{% article %}
> Il avait un mystère. Il était capable de nous faire croire tout possible tout ce qu'il pensait possible lui-même. Et nous le faisions nous aussi. (...) Nous aurions donné notre vie pour ne pas trahir sa confiance.

A sa mort, Alexandre laisse derrière lui un peuple gigantesque sans aucun dirigeant imposé. Tout un royaume est ainsi menacé d'implosion.

Mary Renaud narre cet après-Alexandre dans un style différent. Il n'est plus question ici d'être dans la peau d'un personnage durant tout le livre. On navigue de conspirateur en conspirateur, de prétendant en prétendant. Bagoas -- narateur du tome 2 -- est à peine évoqué. Ce dernier tome m'a déçu. Il aurait été parfaitement possible de s'arrêter à la fin du deuxième, à la mort d'Alexandre. C'est sûr l'aspect historique est intéressant mais malheureusement on perd le côté romanesque si séduisant des deux premiers tomes.

Bref ma note finale de cette série a beau être un tantinet négative, l'ensemble est un régal à lire! Cette conquête en avant de Macédoine jusqu'en Asie sur fond de mélange culturel, de conspirations et autres alliances séditieuses est purement passionant à suivre. Mary Renaud est sans conteste un auteur à avoir lu au moins une fois.
{% endarticle %}
{% endblock %}
