{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Jonathan Livingston le Goéland"
   categories:
   - lectures
   - 110 meilleurs livres
   created: 2010-12-29
%}
{% block article %}
{% article %}

<div class="five left">

  
Richard Bach, pilote de l'US Air Force à ses heures a été rendu
célèbre par ce livre, Jonathan Livingston le goéland.

Célèbre grâce à un message de liberté rendu ici par un goéland
différend des autres. Voulant en apprendre toujours plus sur le vol de
haute voltige alors que ses camarades eux se préoccupent surtout de
remplir leur panse... Malheureusement être différend pour un goéland
signifie à peu près la même chose que pour un humain: le rejet,
l'incompréhension.

Heureusement Jonathan ne désarme pas et poursuit sa course du savoir
et par la même occasion conforte le lecteur qu'un engagement vers la
connaissance mène à la liberté.

> Chacun de nous, en vérité, est une idée du Grand Goéland, une image
  illimitée de la liberté [...]. Le vol de précision n'est qu'un de
  plus franchi dans l'expression de notre vraie nature. Tout ce qui
  nous limite nous devons l'éliminer.

Ce livre doit être le plus court de la liste des 110 meilleurs livres
à lire. A ne pas manquer, poétique avec un message simple et marquant.


</div>

<div class="one left lr">
  <iframe src="http://rcm-fr.amazon.fr/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=thpowo-21&o=8&p=8&l=as1&m=amazon&f=ifr&md=0V7HTNAW9BB7KPZWWWG2&asins=2290215627" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
</div>
  
{% endarticle %}
{% endblock %}
