{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: Histoire de la guerre du Péloponnèse -- Tome 2"
   heading: "Histoire de la guerre du Péloponnèse -- Tome 2"
   cover: "http://ecx.images-amazon.com/images/I/51TE25ET6ZL._SL160_.jpg"
   created: 2009-11-23
   categories:
       - 110 meilleurs livres
       - lectures
%}
{% block article %}
{% article %}

En avoir terminé avec Thucydide c'est quelque chose tant ces deux tomes sont condensés d'informations historiques. Il faudra une certaine persévérence au lecteur amateur pour en venir à bout.

Suite et fin donc du récit de l'un des premiers historiens connus à ce jour. Athéniens contre Péléponnésiens, même décors, même combats qu'au cours du premier tome. Des Athéniens gourmands qui veulent conquérir -- suite à leurs succès probants -- la Sicile sur laquelle ils se cassent les dents après l'avoir parcourue en long en large. Les Syracusains en sont restés les maîtres. Suite à cette première défaite de marque les Athéniens vont échouer de plus en plus leur domination.

Je ne conseillerai pas ce livre à moins d'avoir en face de moi un passioné d'Histoire l'unique public possible à ce genre de récit concit, épuré de toute formule décoratrice résultant une densité sans mesure.

{% endarticle %}
{% endblock %}
