{% extends '_post.html' %}
{%hyde
title: "Critique de livre: Le Prince de Machiavel"
created: 2009-03-08
categories:
    - lectures%}
{% block article %}
{% article %}
Faisant partie des [110 oeuvres à lire][1], ce livre est typiquement le genre
d'écrit que je n'aurais pas abordé si on ne me l'avait pas recommandé.

Mon ressenti est mitigé. Mais tout d'abord je tiens à relever quelque chose
qui me fascine: la capacité de certains d'analyser et d'abstraires des règles
(pas forcément juste j'en conviens) de l'Histoire... Parce qu'a fait Machiavel
ici c'est une grande synthèse de la vie de plusieurs hauts personnages tels
que Moïse, Cyrus, Marc Aurèle et j'en passe. Et de ressortir un ensemble de 26
chapitres exposant des principes politiques qui - il me semble - s'appliquent
encore à ce jour; moi je dis bravo! En ce sens, Machiavel, entre pour moi dans
la catégorie des sages (un Merlin quoi ;). D'un autre côté, c'est une œuvre
qui parle de politique. Et moi la politique j'ai de la peine à bien la
digérer. Cette envie absolue d'avoir du pouvoir sur les autres, de se montrer
bon, juste, digne et fort (très accentué par Machiavel) ont tendances à me
repousser. Pour résumer, si je m'incline devant le génie de l'auteur, je
dirais que le contenu ne me rassure pas quant à la nature humaine
malheureusement. J'ai tout de même pris du plaisir à lire ce livre dont voici
deux passages qui m'ont particulièrement plu:

> Mais quant à l'exercice de l'esprit, le prince doit lire les histoires et
considérer en celles-ci les actions des hommes excellents, voir comment ils se
sont gouvernés dans les guerres, examiner les causes de leurs victoires et de
leurs défaites, pour pouvoir fuir celles-ci et imiter celles-là; et surtout
faire comme a fait, dans le passé, quelque homme excellent qui a pris en
imitation un homme qui, avant lui, a été loué et glorifié, et e celui-ci a
toujours tenu auprès de lui les gestes et les actions, comme on dit
qu'Alexandre le Grand imitait Achille, Césrar, Alexandre, Scipion, Cyrus.

J'adhère à cette idée d'apprendre de nos pères, bien que dans le contexte de
cette citation, Machiavel lui l'applique à un capital de savoir à acquérir en
temps de paix pour mieux s'en servir en temps d'adversité; ce qui en fait un
but un poil trop belliqueux pour moi... Passons au deuxième passage que j'ai
choisi:

> Je conclus donc que, la fortune et les temps variant et les hommes demeurant
obstinés dans leurs manières, ils sont heureux tandis qu'ils s'accordent
ensemble et malheureux, quand ils sont en désaccord. Je juge en revanche ceci,
qu'il est meilleur d'être impétueux que circonspect, parce que la fortune est
femme et il est nécessaire de la battre et de l'affronter, quand on veut la
soumettre.

Ce passage m'a bien fait rire. Je trouve qu'il met bien en avant le côté macho
italien! Enfin bon, la chance ça se provoque comme on dit et une fois de plus
j'y adhère. Trop facile de dire que nos vies sont dirigées par le destin, ça
ne marche pas pour moi. Machiavel défend très bien cette idée dans le chapitre
25 d'où est tiré la dernière citation. Bref, Le Prince de Machiavel, une
oeuvre majeure ayant fait couler beaucoup d'encre mérite certainement d'être
lue mais vous demandera une certaine persévérance si, comme moi, la politique
ne vous passionne pas.

   [1]: http://www.poxd.org/blog/2009/02/07/les-110-meilleurs-livres-a-lire/

{% endarticle %}
{% endblock %}
{% block meta %}
{% markdown %}
Sur Amazon
==========

[![][2]][3]
   
   [2]: http://www.poxd.org/wp-content/uploads/2009/03/leprince.jpg

   [3]: http://www.amazon.fr/gp/product/0553212788?ie=UTF8&tag=thpowo-21&linkCode=as2&camp=1642&creative=19458&creativeASIN=0553212788
{% endmarkdown %}
{% endblock %}
