{% extends '_post.html' %}
{%hyde
title: "Critique de livre: Un risque calculé de Katherine Neville"
created: 2008-12-16
categories:
    - lectures%}
{% block article %}
{% article %}
C'est histoire est sympathique et agréable. A découvrir par un dimanche
pluvieux devant la cheminée... L'histoire tourne autour de Vérity Banks qui
voudrait faire payer les banquiers verreux et corrompus. Elle-même travaille
dans le mileu, à la sécurité plus particulièrement. Elle se lance alors dans
un défi de plus grande envergure que ce qu'elle imaginait au départ et ce à
cause (ou grâce) de Zlotan Tor... C'est assez bien écrit bien que ce ne soit
pas l'histoire la plus captivante que j'ai lue. Si le milieu bancaire ou
informatique vous intéresse, je vous le conseille. Sinon je ne pense pas trop
qu'il en vaille la peine.

> Les tekos sont plus proches des ordinateurs que de leurs congénères. Ils
travaillent mieux la nuit, quand tous les animaux, à l'exception des rapaces,
sont allés se coucher. Ils mangent peu et n'importe quoi, sans aucun souci de
gastronomie. Ils ne voient jamais le jour. Ne respirent jamais de l'air frais.
Ils ne s'épanouissent qu'à la lumière artificielle, dans une atmosphère
climatisée. S'ils se marient, s'ils font des enfants, ils les répartissent en
analogiques et en numériques. Ils peuvent se montrer arrogants, désordonnées,
incontrôlables et antisociaux. Je sais tout sur les tekos, parce que je suis
de la même race.
{% endarticle %}
{% endblock %}
