{% extends "_post.html" %}
{%hyde
   title: "Critique de livre: L'enfant perse"
   categories:
   - lectures
   - 110 meilleurs livres
   created: 2009-09-16
%}
{% block article %}
{% article %}

Babylone impressionnante; 75 pieds de haut + de 30 d'épaisseur

        l'esclave vit dans la gloire de son maître et partage son déshonneur

défi d'Alexandre à Darius:

        Viens te battre avec moi. Si tu ne viens pas, je te suivrai où que tu puisses être.

        Et il n'a peur de rien! rien du tout!

        Il y a la lumière et l'obscur, comme dit le Mage, et toutes choses qui vit a le pouvoir de choisir [p.118]

        Il ne cesse jamais d'aimer

        Ils (soldats) ne veulent pas suivre une image royale qu'ils ne peuvent approcher qu'à plat ventre.

        Je l'aimais d'avoir tant de mal à envisager le pire, même de la part d'un homme qui lui avait tant nui.

        Dis-lui que je ne parcours pas la terre uniquement pour la posséder. Je veux la connaître et aussi les hommes qui y vivent.


{% endarticle %}
{% endblock %}