{% extends '_post.html' %}
{%hyde
title: "Critique de livre: La Religieuse de Denis Diderot"
created: 2009-01-16%}
{% block article %}
{% article %}
Diderot révèle au moyen de ce roman les affres du monde religieux de son
époque. Ce roman suit, semble-t'il, une affaire révélée au grand public
mettant aux prises une religieuse ayant voulu faire annuler ses voeux. Celle-
ci en est allée jusqu'au tribunal, mais malheureusement pour elle sans succès.
Le roman met en oeuvre une religieuse, du nom de Suzanne, qui est envoyée au
couvent sans avoir droit au chapitre. Principalement du fait que cette Suzanne
serait née d'un autre père que ses deux soeurs ainées, histoire de famille
donc... Il s'ensuit que pour Suzanne c'est loin d'être la vie rêvée! Elle
finit par sortir du couvent une première fois pour rapidement se retrouver
dans un autre... Eh oui Suzanne n'a pas de chance dans la vie! Ce n'est
qu'après un dernier transfert qu'elle se trouve dans un troisième couvent où
elle sera bien traitée. La vie semble - enfin - lui sourire. Au cours de ce
troisième séjour, Suzanne explique toutes ses mésaventures à la mère
religieuse. Cette mère-ci est d'ores et déjà très attachée à Suzanne et prend
particulièrement à cœur les épreuves de Suzanne jusqu'à dire:

> Il n'y a que dans les couvents où l'hummanité puisse s'éteindre à ce point.
Lorsque la haine vient à s'unir à la mauvaise humeur habituelle, on ne sait
plus où les choses seront portées.

Pleine de compassion, il s'ensuit une relation vraiment spéciale entre Suzanne
et cette mère religieuse... Ca en devient érotique par moment et je dois dire
que ça m'a pas trop conquis! Bref, je conseille cette lecture à qui veut lire
du Diderot mais qui n'a pas peur d'entrer dans l'intimité de deux femmes ayant
plus qu'une amitié platonique (bien que Suzanne soit toute naïve du début à la
fin).

### Pour aller plus loin

Une analyse de l'oeuvre:
[http://membres.lycos.fr/jccau/ressourc/romem/diderot.htm][1]

   [1]: http://membres.lycos.fr/jccau/ressourc/romem/diderot.htm


{% endarticle %}
{% endblock %}