{% extends '_post.html' %}
{%hyde
title: "Critique de livre: Getting Things Done de David Allen"
created: 2008-10-23
categories:
    - lectures%}
{% block article %}
{% article %}

Waow ça claque! Ce livre, c'est juste une merveille! A lire absolument, qui
que vous soyez! Au premier coup d'œil on pourrait penser qu'il est plutôt
destiné à une audience de managers et autres cadres mais croyez-moi, loin s'en
faut! Il est destiné à toutes personnes qui a des projets. Et un projet c'est
quoi? Simplement un ensemble d'actions destiné à atteindre un objectif
prédéfini.... Or qui n'a pas d'objectif même tout petit petit? PERSONNE!

Nous abordons tous différemment la gestion de nos petits projets mais si vous
avez déjà eu des réflexions du genre "ce serait tellement bien que j'arrive
à..." ou encore "je devrais faire ça.... ah quand j'aurai le temps" la suite
peut vous intéresser....

## Vider sa tête

L'une des premières étapes qui ressort du livre et sur laquelle David Allen
insiste beaucoup c'est de faire une liste exhaustive de TOUS les projets
actuels. Cela va des courses pour la semaine à l'achat d'une maison en passant
par les projets professionnels actuels. Passer par cette étape et la faire
jusqu'au bout permettra de se vider la tête et de pouvoir se focaliser
entièrement sur les tâches à faire. Mais comment être sûr d'avoir tous listé?
GTD répond:

> When nothing else shows up as a reminder in your mind.

Il est donc bien de s'arrêter et de prendre le temps de faire cette liste le
plus consciencieusement possible. Le problème c'est que souvent quand on a une
idée ou un rappel en tête, on a rien pour notifier ce rappel. D'où ce conseil:

> Keep good writing tools around all the time so you never have any
unconscious resistance to thinking due to not having anything to capture it
with.

L'idée est là: ne plus avoir une seule trace de résistance inconsciente dans
la tête. Lister tous ses projets et définir la prochaine action concrète à
faire sur chacun d'eux. Voilà peut-être la meilleure façon d'améliorer
significativement sa productivité.

## Avoir un objectif clair

Ça parait évident mais l'auteur va très loin en conseillant de le faire de
manière très concrète. Je m'explique en deux points. Premièrement, il faut
vraiment **définir ce qu'il faut produire**. Quel est le but de ce projet?
Dans l'idéal, à quoi ressemblerait la réalisation de mon projet? Telles sont
des questions qui peuvent vraiment aider à définir cet objectif.

> Everything you experience as incomplete must have a reference point for
"complete".

Deuxièmement, il faudrait définir un objectif à très court terme. Pour dire
vrai l'objectif de la toute prochaine action. Cet objectif doit être très
concret; c'est une** action physique qui doit se voir** (téléphoner un tel,
écrire ce mail, programmer cet algorithme). De ce fait, en définissant une
action concrète pour chacun des projets en cours, jamais plus vous ne devriez
vous sentir comme un moustique...

> I am rather like a mosquito in a nudist camp; I know what I want to do, but
I don't know where to begin. - _Stephen Bayne_

Blague mise à part, c'est la formule magique pour améliorer sa capacité de
concentration et son sens des priorités.

## Conclusion

C'est une véritable méthodologie qui a été mise au point ici par David Allen
et je n'ai fait que mettre en avant 2 étapes qui m'ont semblées importantes
mais croyez-moi, ce livre est une mine d'or. Si vous avez l'envie de réaliser
vos projets et mener une vie moins stressante tout en étant plus productive,
ce livre est fait pour vous. Mais comme je le disais, il est utile à tout le
monde, lisez-le, lisez-le, lisez-le! Pour aller plus loin:
[http://www.thesimpledollar.com/2007/05/06/review-getting-things-done/][2] (en
anglais)

   [2]: http://www.thesimpledollar.com/2007/05/06/review-getting-things-done/


{% endarticle %}
{% endblock %}
