{% extends '_post.html' %}
{%hyde
title: "Critique de livre: Toute l'histoire du monde"
created: 2008-10-07
categories:
    - lectures%}
{% block article %}
{% article %}
J'ai été carrément scotché par le résumé fait au dos du livre:

> Il y a un siècle, ceux qui savaient lire savaient aussi se situer dans
l'espace et dans le temps. Il n'en est plus ainsi. Les Français, et d'ailleurs
tous les Occidentaux, sont devenus, pour la plupart, des hommes sans passé,
des " immémorants ". Notre modernité fabrique, hélas, davantage de
consommateurs-zappeurs interchangeables que de citoyens responsables, désireux
de comprendre et de construire. Est-il possible de déchiffrer l'actualité sans
références historiques ? Comment situer, par exemple, les guerres d'Irak sans
avoir entendu parler de la Mésopotamie ? On voit tout, tout de suite, en
direct, mais on ne comprend rien. D'où l'idée simple, ambitieuse et modeste à
la fois, d'écrire un livre assez court qui soit un récit de l'histoire du
monde, fermement chronologique, pour tous ceux qui souhaitent " s'y retrouver
" et situer leur destin personnel dans la grande histoire collective de
l'espèce humaine.

Après percution donc j'ai acheté ce livre et été rapidement séduit par
le récit. On navigue au travers de l'histoire humaine du début jusqu'à
maintenant. Ou comment avoir une rapide vision globale de notre monde... J'ai
assez aimé; bien qu'à force c'est tout de même triste de constater que l'une
des seule choses communes à tous les hommes, c'est l'envie de dominer son
prochain... Pour finir par des guerres, génocides, dictatures, etc. Triste
monde! Heureusement les auteurs n'oublient tout de même pas de relever le
génie de certains personnages marquants (Ératosthène, Bouddha, Platon,
Archimède, Voltaire, Mozart et j'en passe); ca fait quand meme du bien de se
rappeler que l'homme est capable de bonnes choses. Bref, je recommande ce
livre à tous ceux qui ont envie de faire un lien rapide entre les différentes
puissances mondiales qui se sont succédées et comment d'un point de vue
politique le monde à évolué pour en arriver là où nous sommes.

{% endarticle %}
{% endblock %}
