{% extends '_post.html' %}
{%hyde
title: "Ecrire sans ennuyer"
created: 2009-08-20
categories:
    - divers%}
{% block article %}
{% article %}
Je blog peu actuellement mais ça va revenir on ne s'inquiète pas... Plusieurs
projets sur le feu. En attendant voici un billet très intéressant si écrire un
article ou un livre technique vous attire: [A few quick thoughts on keeping
readers motivated][1]. Etant personnellement admiratif du travail effectué par
[Mark Pilgrim][2] et de l'équipe de [Head First][3] en général, ce genre
d'article est intéressant! Il contient plus d'une ressource à fouiner,
notamment un livre que je m'en vais de suite ajouter à ma [liste amazon][4]...
On retrouve par exemple Kathy Sierra en pleine interview super intéressante!

   [1]: http://broadcast.oreilly.com/2009/08/a-few-quick-thoughts-on-keepin.html

   [2]: http://diveintomark.org/

   [3]: http://www.headfirstlabs.com/

   [4]: http://www.amazon.fr/registry/wishlist/22WYQI37NFKZI/ref=reg_hu-wl_goto-registry?_encoding=UTF8&sort=date-added


{% endarticle %}
{% endblock %}
