{% extends '_post.html' %}
{%hyde
title: "Elle date de combien de temps ta dernière sauvegarde?"
created: 2009-02-26
categories:
    - divers%}
{% block article %}
{% article %}
Les sauvegardes font partie de ces choses qu'il faudrait faire mais qu'on a
tendance à repousser indéfiniment. Lisez cet article et vous aurez une méthode
qui vous demandera 2 minutes à mettre en place (aller 5 grand max) et vous
n'aurez plus à vous inquiéter de vos sauvegardes!

# Créer un compte DropBox

[DropBox][1] est un service en ligne s'intégrant merveilleusement bien à tout
système d'exploitation. Son but: synchroniser les fichiers entre plusieurs
ordinateurs avec la possibilité de partager des fichiers.  Son prix: gratuit
jusqu'à 2Go et [payant][2] pour 50Go.

![dropbox][3]

La seule chose à faire est de télécharger le client correspondant à son
système et de l'installer. Vous aurez ensuite un dossier pas tout à fait comme
les autres (se trouvant par défaut sous Mes Documents sur Windows mais
paramètrable) qui dès que vous en modifiez son contenu, se synchronise
automatiquement avec votre compte DropBox en ligne. Si vous utilisez plusieurs
ordinateurs, pas de problème, vous installez le client et hop il se
synchronise, même sur votre iPhone!

# Script de copie

Profitant de cette synchronisation automatique sur Internet il n'y a plus qu'à
se créer un script copiant les fichiers à sauvegarder dans le dossier DropBox!
Travaillant sur une station Microsoft au boulot mon script est un .bat mais
sera très facilement porté sur n'importe quel système (zip étant sur tout OS)!
Pour ma part voici son contenu:


    zip -9 -v -u -r Dropbox\backups\merck merck >> Dropbox\backups\log.txt

    zip -9 -v -u -r Dropbox\backups\Logica Logica >> Dropbox\backups\log.txt

Les paramètres devront être ajustés à votre convenance. Ici nous avons:

  * -9 : compression maximum

  * -v : verbeux pour le rapport enregistré dans le fichier log.txt

  * -u : met à jour l'archive ne la recrée pas à chaque fois complètement

  * -r : récursif dans l'arborescence, tout le contenu du dossier et de ses
sous-dossiers sont archivés

Je n'ai sur ma machine que deux dossiers que je veux absolument sauvegarder,
je n'ai donc pour ma part pas besoin d'un espace disque énorme (je tiens
largement sur un compte gratuit DropBox). Par contre si vous voulez
sauvegarder vos mp3, vos photos et vos films ça va vite faire volumineux. Dans
ce cas-là il existe d'autres solutions tout aussi avantageuses (ou presque).
Je vous laisse jeter un oeil au [très bon article][4] de Paul Stamatiou
concernant son utilisation du service d'Amazon: [S3][5].

# Automatisation

Finalement, plus qu'à demander à sa machine de lancer **régulièrement **le
script ci-dessus et hop plus besoin de s'inquiéter de la sauvegarde de ses
données! Cron sur systèmes Unix et planificateur des tâches (at en ligne de
commande) sous Windows feront l'affaire! Les sauvegardes sont trop souvent
mises de côtés mais lorsqu'un crash arrive on se sent tout perdu et on s'en
veut de ne pas en avoir fait assez souvent, ou pas du tout. J'espère que cette
méthode en encouragera plus d'un à ne plus la mettre de côté! Si c'est le cas
demandez-moi une invitation à DropBox ce qui me permettra d'augmenter la
capacité de stockage de mon compte ;)

### Pour aller plus loin

* [Backing up Windows machines using rsync and ssh by Manu Garg][6] concis et
puissant, méthode plus poussée et plus généraliste (en anglais) 
* [Sauvegarder un site web avec rsync][7] utilise le même outil que l'article précédent (en français) 
* [How I Use Amazon S3][4] autre option utilisant Amazon S3 (en anglais)

   [1]: https://www.getdropbox.com/

   [2]: https://www.getdropbox.com/pricing

   [3]: http://www.poxd.org/wp-content/uploads/2009/02/dropbox.jpeg (dropbox)

   [4]: http://paulstamatiou.com/2008/06/08/how-i-use-amazon-s3

   [5]: http://aws.amazon.com/s3/

   [6]: http://aplawrence.com/Unixart/backup_rsync.html

   [7]: http://www.tux-planet.fr/sauvegarder-un-site-web-avec-rsync/


{% endarticle %}
{% endblock %}
