{% extends '_post.html' %}
{%hyde
title: "Embauche - Logica"
created: 2007-08-23%}
{% block article %}
{% article %}
Nous sommes le 23 août 2007 et cela fait maintenant 23 jours que je suis sans
emploi. Durant tout ce temps j'ai pu constater combien le métier
d'informaticien est recherché! Je me rappelle encore la réunion d'information
concernant l'école que j'ai fréquentée.... "Il faudrait couper les nouveaux
diplômés en 2 pour combler la demande!"... Eh bien visiblement la demande est
toujours forte! En tout cas au niveau développement c'est flagrant.J'ai ainsi
pu passer plusieurs entretiens et avoir plusieurs propositions (mandats,
contrats temporaires). Content du résultat je n'ai pas fait l'erreur de me
jeter tête baissée sur la 1ère offre venue mais j'ai plutôt attendu quelque
peu... Bien m'en a fait! J'ai en effet reçu plusieurs coups de fil après avoir
posté mon cv sur Monster (vous êtes dans l'info et vous cherchez du boulot?
--> [monster.ch][1]!) et à ma grande surprise l'entreprise[ ][2][LogicaCMG
][3]s'est grandement intéressé à mon profil. Après un contact téléphonique et
email j'ai pu passer un entretien détendu et fort sympathique avec eux et à
présent mon embauche est en court de finalisation!  Conclusion: ne pas se
jeter sur la première offre d'emploi venue et rester patient jusqu'à ce qu'une
offre vous plaise! Attention à ne pas idéaliser trop non plus (bien que pour
moi, je n'aurais jamais imaginé entrer à mon âge dans une boîte du genre de
Logica)

   [1]: http://www.monster.ch/

   [2]: http://www.logicacmg.com/ch

   [3]: http://www.logicacmg.com/page/400004588


{% endarticle %}
{% endblock %}