{% extends '_post.html' %}
{%hyde
title: "Envie de rire un coup ?"
created: 2007-11-26
categories:
    - divers%}
{% block article %}
{% article %}

Pour certains c'est encore pire le lundi matin....

<div style="text-align:center;"><object width="425" height="355"><param name="movie" value="http://www.youtube.com/v/D4a1z7NLnNk&#038;hl=en"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/D4a1z7NLnNk&#038;hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed></object> </div>


{% endarticle %}
{% endblock %}
