{% extends "_post.html" %}
{%hyde
    title: "Flash va mourir"
    created: 2010-01-15
    categories:
        - dev
        - divers
%}
{% block article %}
{% article %}

Durant certains cours ennuyeux il m'est arrivé de lancer une ou deux [parties de volley][1] avec un ami tout aussi peu motivé par certains cours. On aimait beaucoup ce jeu pour son fun, sa rapidité, la possibilité de s'affronter en réseau... Bref quoi de mieux pour faire passer le temps et oublier le prof nous parler des détails obscures du protocol tcp? Dans ce domaine, la technologie flash a permis à Adobe d'asseoir un certain monopole dans ce genre d'applications tout comme pour ce qui est d'embarquer du contenu vidéo ou encore créer des effets très dynamiques. Plus d'une âme douée de sens artistique s'en est donnée à coeur joie grâce notamment aux outils fortement orientés designer fournis conjointement.

Oui mais voilà, flash a vécu. Flash va dorénavant devoir laisser sa place... Pour plusieurs raisons.

# Ce qui va perdre flash

L'iPhone favorise fortement sa perte en ne le supportant tout simplement pas. Ce marché lucratif attire toujours plus de dévelopeurs, et cela fait toujours plus de dévelopeurs qui ne font pas leur boulot en Flash. C'est bien triste lorsqu'on sait combien les applications pour le mobile pommé entrerait bien dans le champs d'applications des dévelopements flash.

Deuxièmement, la poussée de [Chrome][5] a également son rôle a jouer dans l'éviction de flash en tant que technologie riche. Les équipes du géant de Mountain View ont tellement favorisé l'amélioration des performances[^1] des moteurs Javascript qu'il est à prévoir dès maintenant les applications les plus folles directement dans le navigateur sans passer par un plugin tiers! Jetez donc un œil par exemple à cet [émulateur NES][7] ou encore cet [encodeur JPEG][8]! Tout ça en Javascript!

Associée à la montée en puissance de Javascript, l'arrivée de HTML 5 ne fait pas non plus les affaires d'Adobe puisque l'inclusion de vidéos et de clips audio devraient -- si la standardisation va jusqu'au bout -- une fois de plus évincer l'un des gros avantage de flash. 

<div style="text-transform: small-caps; font-size: 0.8em; text-align:center;">
<img alt="Flash et iPhone ne font pas bon ménage" src="/media/images/flash_dead_on_iphone.PNG"/><p>Flash et iPhone ne font pas bon ménage</p></div>


Enfin [WebGL][9] pourrait être la goutte faisant déborder le vase; ce nouvel effort de standardisation nous permettant d'accéder aux composants de la carte graphique laisse entrevoir les applications 3D les plus folles.

# A quelques nuances près

Qu'est-ce qui peut bien rester à flash alors? Ne vendons pas la peau de l'ours avant de l'avoir tué car si flash est menacé les ingénieurs d'Adobe ne sont pas bras croisés à rien faire! A commencer par Flex. Framework ayant pour base flash et qui permet par exemple de créer des applications pouvant sortir du navigateur web (ex: [parleys.com][2]). Flex donne aussi la possibilité de créer des applications d'entreprises très attractives avec entre autres de beaux graphiques. Alléchant pour les managers et autres décideurs! Il y a aussi le projet [open screen project][10] -- vous aussi c'est la première fois que vous en entendez parler? -- ayant pour but avoué d'homogénéiser l'expérience multimédia; du mobile à la tv.

Mais bon finalement le mieux ne serait-il pas tout simplement de fusionner les deux mondes et d'offrir un runtime flash en javascript? C'est le but avoué d'un [projet sur github][3], vous pouvez déjà jeter un oeil aux premières [démos][4]. Ainsi, les designers pourraient continuer d'exercer leurs talents aux travers des excellents outils associés à flash tout en les exécutant sur tout navigateur supportant Javascript. Il est évidemment trop tôt pour savoir ce que cela va donner, mais avouons que l'idée est fort intéressante! On pourrait lancer des parties en réseau, durant les cours, sur l'iPhone!

[^1]: Comparatif en anglais entre les performances Javascript et Actionscript 3 (langage utilisé en flash) -- [http://jacksondunstan.com/articles/232](http://jacksondunstan.com/articles/232)

[1]: http://www.miniclip.com/games/boom-boom-volleyball/en/
[2]: http://parleys.com
[3]: http://github.com/tobeytailor/gordon/
[4]: http://paulirish.com/work/gordon/demos/
[5]: http://www.google.com/chrome
[7]: http://benfirshman.com/projects/jsnes/
[8]: http://www.bytestrom.eu/blog/2009/1120a_jpeg_encoder_for_javascript
[9]: http://fr.wikipedia.org/wiki/WebGL
[10]: http://www.openscreenproject.org/about/


{% endarticle %}
{% endblock %}
