{% extends '_post.html' %}
{%hyde
title: "Il est temps de se mettre à Scala"
created: 2009-04-02%}
{% block article %}
{% article %}
> Addressing developers at the annual Web 2.0 Expo in San Francisco,
California, Payne argued that Scala - not Ruby on Rails or PHP or Python -
should be the language of choice for the modern web startup.

Selon Alex Payne, dévelopeur de Twitter, Scala serait donc LE langage de choix
pour le dévelopement de services internet... Il faudrait vraiment que j'y jète
un oeil. [Source: article [theregister][1] titré _Twitter jilts Ruby for
Scala_]

   [1]: http://www.theregister.co.uk/2009/04/01/twitter_on_scala/


{% endarticle %}
{% endblock %}