{% extends "_archives.html" %}
{% block title %}PoXd - archives{% endblock %}
{% block listing %}
<ul>
{% for node in page.node.walk %}
{% for post in node.pages %}
{% ifnotequal post node.listing_page %}
{% if not post.exclude %}
    {% ifchanged post.created.year %}
    {% if forloop.first %}
    <li><h2>{{post.created|date:"Y"}}</h2></li>
    {% else %}
    <li><h2><hr class="clear unvisible" />{{post.created|date:"Y"}}</h2></li>
    {% endif %}
    {% endifchanged %}
    <li>
        <time pubdate>{{post.created|date:"j/m"|title}}</time>
        <a href="{{post.url}}">
        {% with post.name_without_extension|remove_date_prefix|unslugify as default_title %}
            {% filter typogrify %}
            {{post.title|default_if_none:default_title }}
            {% endfilter %}
        {%endwith%}</a>
    </li>
{% endif %}
{% endifnotequal %}    
{% endfor %}
{% endfor %}
</ul>
{% endblock %}
