{% extends "_archives.html" %}
{% block listing %}
<ul>
{% for post in page.node.walk_pages %}
    {% if not post.listing %}
    {% ifequal post.node page.node %}
    {% ifchanged post.created.year %}
    {% if forloop.first %}
    <li class="month"><h1 class="section first">{{post.created|date:"Y"}}</h1><!--<h1>{{post.created|date:"F Y"|title}}</h1>--></li>
    {% else %}
    <li class="month"><h1 class="section">{{post.created|date:"Y"}}</h1><!--<h1>{{post.created|date:"F Y"|title}}</h1>--></li>
    {% endif %}
    {% endifchanged %}
    <li class="entry">
        <div class="yui-u first align-right" style="width:12%"><span class="postdate">{{post.created|date:"j/m"|title}}</span></div>
        <div class="yui-u" style="width:88%"><a href="{{post.url}}">
        {% with post.name_without_extension|remove_date_prefix|unslugify as default_title %}
            {% filter typogrify %}
            {{post.title|default_if_none:default_title }}
            {% endfilter %}
        {%endwith%}</a></div>
        <hr class="clear"/>
    </li>
    {% endifequal %}
    {% endif %}
{% endfor %}
</ul>
{% endblock %}
