{% extends "skeleton/_index.html" %}
{%hyde
    listing: true
%}
{% block main_content %}
<div class="yui-gf" id="archives">
<div class="yui-u first">
<h2>Parcourir par catégories</h2>
{% for category in categories.keys %}
<li>{{category}}</li>
{% endfor %}
</div>
<div class="yui-u">
<ul>
{% for node in page.node.walk %}
{% load_posts %}
{% for post in posts %}
    {% ifchanged post.created.month %}
    <li class="month"><h1>{{post.created|date:"F Y"|title}}</h1></li>
    {% endifchanged %}
    <li class="entry"><div class="day">{{post.created|date:"l j"|title}}</div>
        <a href="{{post.url}}">
        {% with post.name_without_extension|remove_date_prefix|unslugify as default_title %}
            {{post.title|default_if_none:default_title }}
        {%endwith%}</a>
    </li>
{% endfor %}
{% endfor %}
</ul>
</div>
</div>
{% endblock %}
