{% extends '_post.html' %}
{%hyde
title: "Java et le web 2.0"
created: 2007-11-19
categories:
    - dev%}
{% block article %}
{% article %}
Un [article intéressante][1] concernant java et les appels asynchrones est
consultable sur developerwors.

Il met bien à l'index les lacunes de l'architecture Servlet de Java en ce qui
concerne le buzz du moment : le web 2.0. Mais ce qu'il y a d'intéressant c'est
que l'article propose des pistes sur lesquelles se diriger lorsque l'on veut
créer une gestion asynchrones de requêtes. Il est parlé entre autre de du
projet [Apache MINA][2] , [SEDA][3], mais également du pattern [COMET][4].
Très bon tour d'horizon et d'idées à consulter. Un benchmark est de plus
utilisé afin de prouver l'apport des appels asynchrones par rapport à la
démarche synchrone traditionnelle à Java. Il propose de nombreuses ressources;
à aller consulter!

Pour info l'article parle également de 2 solutions proposées par les
conteneurs Tomcat et Jetty qui permettent une communication asynchrone :
[Apache Tomcat 6 Comet API][5] et [Jetty Continuations][6].

   [1]: http://www.ibm.com/developerworks/web/library/wa-aj-web2jee/?S_TACT=105AGX54&S_CMP=A1109&ca=dnw-843

   [2]: http://mina.apache.org/

   [3]: http://www.eecs.harvard.edu/~mdw/proj/seda/

   [4]: http://www.webtide.com/downloads/whitePaperWhyAjax.html

   [5]: http://tomcat.apache.org/tomcat-6.0-doc/aio.html

   [6]: http://docs.codehaus.org/display/JETTY/Continuations


{% endarticle %}
{% endblock %}
