{% extends '_post.html' %}
{%hyde
title: "Je suis un intello!"
created: 2008-04-30%}
{% block article %}
{% article %}
Avant de me croire prétentieux, qu'est-ce qu'un intello? Peut-être que la
définition qui suit ne convient pas à ce terme quoiqu'il en soit je l'aime
beaucoup:

> Être intello ça veut dire aimer s'instruire, être curieux, attentif,
admirer, s'émouvoir, essayer de comprendre comment tout ça tient debout et
tenter de se coucher un peu moins con que la veille ((Extrait tiré du livre
[Ensemble c'est tout][1] d'Anna Gavalda)).

Cette définition fait abstraction de la notion d'intelligence. Tout le monde
peut faire preuve de curiosité c'est l'une des seules justices de ce monde,
par contre curiosité n'est pas égale à intelligence et malheureusement (ou
heureusement peu importe) chacun ne naît pas avec le même _capital_ et les
mêmes possibilités.

Mais lorsqu'à l'école un bambin balançait "oh l'intello" il ne voulait pas
dire "oh mais comme il est curieux mon camarade"... Mais bien plutôt "celui-là
il me gonfle il sait tout!" Dans ce sens la définition ci-dessus n'est
peut-être pas adéquate mais qu'elle se rapporte à _intello_ ou n'importe
quelle autre expression, je voulais la partager car je l'apprécie beaucoup.

   [1]: http://www.librarything.fr/work/376299/book/29467523


{% endarticle %}
{% endblock %}