{% extends '_post.html' %}
{%hyde
title: "Kathy Sierra : mon choix pour l'Ada Lovelace DAY"
created: 2009-03-24
categories:
    - divers %}
{% block article %}
{% article %}

Sur une idée de [Suw Charman-Anderson][1] avec l'[Ada Lovelace Day][2], voici
l'opportunité de mettre en avant une personnalité, une femme dans le monde de
la technologie. J'ai choisi [Kathy Sierra][3].

L'informatique vit une époque extraordinaire. Il est possible aujourd'hui
grâce à la révolution Internet d'en apprendre sur tout. Un  accès illimité à
une connaissance infinie. C'est merveilleux, j'adore.

> Il y a un art de savoir et un art d'enseigner. **Cicéron**

D'un autre côté, celles et ceux ayant fait l'effort de se plonger dans les
œuvres techniques en ligne ou littéraire auront été rebuté plus d'une fois
face à la monotonie et l'ennui que procure la lecture d'un sujet technique...
C'est là qu'intervient Kathy Sierra. Kathy Sierra, officiellement programmeuse
dans l'industrie du jeu vidéo, m'a fait découvrir comment m'initier à un sujet
technique en m'amusant. Avant de tomber sur sa série [Head First][4], l'idée
même de me plonger dans un bouquin technique me repoussait. Dorénavant, grâce
à sa nouvelle manière de présenter les choses et de structurer le contenu un
sujet de prime abord barbant devient réellement **amusant**. Mais, bien plus
important, aide incroyablement à la **mémorisation**! Une façon attractive de
présenter le sujet ajoutée à des exemples et des exercices sortant du commun,
tout est fait pour aider le lecteur à être impliqué au maximum par ce qu'il
lit. Ses recherches sur le cerveau et l'aspect cognitif auront certainement
aidé au succès de cette série qu'elle a créée conjointement avec [Bert
Bates][5]. Ce qui a été dit plus haut pourra d'ailleurs certainement
s'appliquer au travail de son co-équipier, mais aujourd'hui c'est à une femme
qu'il faut rendre honneur! Bref, grâce à leur travail, les bouquins techniques
ne m'effraient plus, je plonge dedans sans appréhension. Au final on s'ammuse
et c'est le plus important, tout devrait suivre la même philosophie!
**Apprendre en s'amusant c'est vraiment fun**! Mais ce n'est pas tout, Kathy
Sierra a également mis sur pied une communauté autour de Java sur le site
[JavaRanch][6]. Ressource de qualité, des modérateurs sur le forum qui ont une
grande connaissance dans le domaine du développement, décidément ce qu'elle
met en place est synonyme de succès!

##Pourquoi Ada Lovelace

J'aurais bien aimé en dire plus sur Kathy, j'aurais pu en dire plus sur son
blog, ses activités d'enseignement chez Sun ou encore les conférences qu'elle
donne, mais je vous laisse découvrir tout ce qu'elle a pu faire: [sa page
Wikipédia][3] référence tout. Pour savoir pourquoi avoir choisi Ada Lovelace
comme figure d'honneur je vous laisse consulter la [description][2] de cette
idée originale. Allez Mesdames, n'ayez pas peur de vous jeter à l'eau et de
rentrer dans le cadre de ce monde de machos!

   [1]: http://suw.org.uk/2009/01/06/join-me-on-ada-lovelace-day/

   [2]: http://www.promessotheque.com/AdaLovelaceDay

   [3]: http://en.wikipedia.org/wiki/Kathy_Sierra

   [4]: http://www.headfirstlabs.com/

   [5]: http://www.headfirstlabs.com/bert.php

   [6]: http://www.javaranch.com/



{% endarticle %}
{% endblock %}
