{% extends '_post.html' %}
{%hyde
title: "La charte des droits du programmeur"
created: 2008-03-09%}
{% block article %}
{% article %}
  1. Tout programmeur [doit avoir un affichage double écran][1]

  2. Tout programmeur doit avoir une station performante

  3. Tout programmeur doit se procurer lui-même sa souris et son clavier
personnels

  4. Tout programmeur doit avoir une chaise confortable

  5. Tout programmeur doit avoir une connexion rapide à Internet

  6. Tout programmeur doit avoir un environnement de travail calme.

Dans ma courte expérience professionnelle, tout ce que je peux dire c'est
qu'en Suisse on est bien traité! Un commentaire intéressant sur l'original de
cette charte: "mettre des écouteurs, parfois même sans aucune musique ([Andre
Torrez][2])" permet simplement de remplir les conditions de l'article numéro 6
de la charte ;) ... Ayant travaillé à Lyon durant 3 mois, les conditions m'ont
amené à tenter l'expérience avec succès! [source : [coding horror][3]]

   [1]: http://www.necus.com/necus/media/press_releases/template.cfm?DID=1947

   [2]: http://notes.torrez.org/

   [3]: http://www.codinghorror.com/blog/archives/000666.html


{% endarticle %}
{% endblock %}