{% extends "_post.html" %}
{%hyde
   title: "La semaine prochaine java bien aller avec Jazoon!"
   categories:
       - divers
       - dev
   created: 2010-05-28
%}
{% block article %}
{% article %}

La semaine prochaine sera spécialement Java pour moi avec la
conférence [Jazoon][1]. Je n'ai jamais assisté à une conférence de cette
envergure, je me réjouis un max! Le programme en lui-même est
alléchant avec plusieurs sessions auxquelles je me réjouis d'assister,
voyons le programme que je pense me faire...

# Le mardi

   * Java SE and JavaFX: The Road Ahead par *Danny Coward*
   * The Java EE 6 Platform: Powerful, Productive, Extensible par *Jerome Dochez* et *Alexis Moussine-Pouchkine*
   * CDI, Seam & RESTEasy: You haven't seen REST yet par *Dan Allen*
   * Pour le slot de 14:00-14:50 je ne sais pas du tout
   * De 15:00-15:50 mon coeur balance entre Construction Techniques for Domain Specific Languages et Server-side OSGi with Apache Sling. La première pour le speaker Neal Ford, la deuxième pour le contenu. Le projet Sling étant un projet que je suis de loin.
   * A nouveau un peu hésitant pour l'avant-dernière session mais je pense assister à Servlet 3.0 - Asynchronous, extensibility, ease of development par *Rajiv Mordani* et *Jan Luehe*
   * 97 Things Every Programmer Should Know par *Kevlin Henney*

# Le mercredi

   * Total Cost of Ownership par *Ken Schwaber*
   * iPhone/iPad development from the Java Perspective par *Ognen Ivanovski*
   * What's new in Hibernate: a JPA 2 perspective par *Emmanuel Bernard*
   * The Java Persistence Criteria AP par *Linda DeMichiel*
   * Patterns and Practices in Hibernate par *Patrycja Wegrzynowicz*
   * How Java Powers Large Online Retail Sites par *Robert Brazile* et *Jason Brazile*
   * Au moins une des 3 sessions rookie qui terminent la journée.

# Le jeudi

   * The Gaia satellite and Data Processing par *William O'Mullane*
   * Essentials of Testing: The Tools You Need to Know par *Bettina Polasek* et *Marco Cicolini*
   * Rapid Application Development with Apache Wicke par *Andrew Lombardi*
   * Exploring HTML5 With JavaServer Faces 2.0 par *Roger Kitain*
   * Search, Find, Classify - A short tour through Apache Solr par *Sven Maurmann* ou Spring ROO - A New Level of Enterprise Java Productivity par *Eberhard Wolff*
   * Pour l'avant dernière on verra sur le moment.

Plutôt chargé! On va voir comment tout ça se déroule mais je suis
clairement impatient de découvrir encore un peu plus la communauté
Java *en vrai*.

Si certains lecteurs de passage s'y rendent aussi dites-le moi qu'on
boive un verra là-bas!

[1]: http://jazoon.com

{% endarticle %}
{% endblock %}
