{% extends '_post.html' %}
{%hyde
title: "Le maître de Garamond"
created: 2008-06-13
categories:
     - lectures %}
{% block article %}
{% article %}

Je parlerai bientôt des différends bouquins que j'ai pu lire ces derniers
temps mais là il me faut absolument faire mention du livre que je viens de
terminer: Le [maître de Garamond][1]. 

Je voulais particulièrement parler de deux choses concernant cette oeuvre d'Anne Cuneo..
Mais il y a trop à dire, je vais me focaliser déjà sur la première.

### L'usage de la mémoire... Internet va-t'il nous rendre stupide?

Oudin, tel est le nom d'un personnage de l'histoire. Ancien saltimbanque, il
se lie avec un imprimeur grâce à Garamond, le narrateur de l'histoire. Oudin
possède plusieurs caractéristiques particulières mais l'une d'elles est des
plus étonnante et m'a fait réfléchir. Il est capable dans l'histoire de
réciter des contes, des conversations, des tirades, des événements de mémoire
avec infiniment de détails. Je dis que cela m'a fait réfléchir mais Antoine
Augereau le maître de Garamond fait cette réflection avant moi lorsqu'il dit:

> C'est parce que nous venons d'un monde où l'imprimerie n'existait pas
encore... Nous étions forcés d'exercer notre mémoire. Maintenant, pour vous,
c'est la belle vie. On imprime les choses, et puis on peut les laisser
s'estomper. On n'a plus qu'à consulter les livres.... Plus il y aura de
livres, moins il y aura d'Oudin.

Qu'est-ce que dirait ce Maître Augereau maintenant! Nous avons accès à
tellement d'information grâce aux livres mais surtout grâce à Internet! J'ai
d'ailleurs déjà vu sur le net certains avancer qu'il n'y a même plus besoin de
livre pour apprendre tant Internet nous donne accès à tout ce qu'on veut (mais
bon le confort n'y est pas encore...). Au vu du contraste entre les capacités
d'Oudin mises en avant dans ce roman et les capacités de mémoire de chacun
aujourd'hui (enfin dans cette assertion je ne peux que me baser sur ma propre
mémoire ;) ) on peut facilement arriver à ce genre de questions: exerçons-nous
donc encore notre mémoire, ou du moins l'utilisons-nous efficacement?
Arrivera-t-il un jour où les livres ou Internet nous auront rendus incapables
d'user de cette mémoire? C'est un raisonnement assez paradoxale mais encore
aujourd'hui j'ai pu lire un article intéressant à ce sujet dans la tribune de
Genève: [Le Web nous rend-il incapables de lire?][3] Cet article fait mention
d'un essai publié récemment ayant pour titre «Google nous rend-il bêtes?»
(«__[Is Google Making Us Stupid»)][4]. L'article nous informe par exemple
comment Platon avait le même genre d'idée que Maître Augereau mais lui à
propos de l'écriture: 

![garamond-tg3][5]

A mon avis certains sont assez répulsifs au changement. Internet c'est vrai peut très bien changer nos
habitudes de lecture mais est-ce pour autant que l'on deviendrait moins
intelligent? Comme toute nouveauté, il faut savoir s'en servir et à mon avis
Internet n'est qu'un nouvel outil à disposition de tous les curieux de la
planète! L'article se veut d'ailleurs rassurant de par sa conclusion:

![garamond-tg4][7]

N.B.: Quelques astuces pour améliorer sa mémoire et en savoir plus sur le sujet: [cliquez ici][9].

   [1]: http://www.amazon.fr/Ma%C3%AEtre-Garamond-Augereau-imprimeur-libraire/dp/2253109959/ref=sr_1_6?ie=UTF8&s=books&qid=1213368444&sr=8-6

   [3]: http://www.tdg.ch/pages/home/tribune_de_geneve/l_actu/sciences_hi_tech/detail_hi_tech/(contenu)/236172#formulaire_reactions

   [4]: www.theatlantic.com/doc/200807/google

   [5]: http://www.poxd.org/wp-content/uploads/2008/06/garamond-tg3-thumb.png

   [6]: http://www.poxd.org/wp-content/uploads/2008/06/garamond-tg3.png

   [7]: http://www.poxd.org/wp-content/uploads/2008/06/garamond-tg4-thumb.png

   [8]: http://www.poxd.org/wp-content/uploads/2008/06/garamond-tg4.png

   [9]: http://www.languesplus.com/pages2/apprentissagepag.html



{% endarticle %}
{% endblock %}
