{% extends '_post.html' %}
{%hyde
title: "Lectures #2"
created: 2007-11-15%}
{% block article %}
{% article %}
# L'oiseau d'amérique (Walter Tevis)

Un roman SF mais trop tout comme j'aime. C'est l'histoire de ce qu'est devenu
l'humanité en l'an 2100 et quelques au contact de robots de classes plus ou
moins sophistiquées. A cette époque tout est régulé jusqu'au taux
d'infantilité. Ce taux est d'ailleurs devenu très bas au point qu'il n'y a
carrément plus d'enfants qui naisse.... Mais tout n'est pas perdu. ... (je ne
sais plus son nom) , un humain, lui travaille à l'université de New-York et
peut consulter de nombreux livres... Il apprend à lire et découvre ce qu'était
l'homme au XXème siècle. Il prend goût à la lecture et au visionnage d'oeuvres
cinématographiques ce qui le change complètement. Il ne fume plus d'herbe, ne
prend plus de _soppor _et est heureux!

Je vous laisse découvrir cet ouvrage magnifique qui est un hommage à la
lecture et à cette détermination de vivre innée à l'homme. 

#Et après (Guillaume Musso)

Roman quelque peu fictif (un peu moins celui-ci) et à suspens. C'est
l'histoire d'un gamin qui manque de se noyer à l'âge de 8 ans et qui devient
plus tard avocat renommé sur Manhattan. Un épisode tragique rend la séparation
d'avec sa femme inévitable. Celle-ci déménage à l'autre bout des Etats-Unis
mais un contact régulier est maintenu entre lui et sa petite fille Bonnie.
C'est alors qu'un étrange chirurgien entre dans sa vie avec des révélations
bien étranges....

Si vous ne l'avez pas lu, sautez dessus! J'ai particulièrement aimé les
dialogues entre le père et sa fille qui lui inculque le respect des gens quels
qu'ils soient, le respect de l'argent, le respect tout court. Une autre chose
qui ressort bien de se livre est notre changement d'attitude lorsque l'on se
dit que l'on va bientôt mourir... A chacun de nous de ne pas oublier de vivre
chaque journée à fond pour n'avoir aucun regret (plus facile à dire qu'à
faire).


{% endarticle %}
{% endblock %}