{% extends '_post.html' %}
{%hyde
title: "Lectures #3"
created: 2007-12-17%}
{% block article %}
{% article %}
# Et si c'était vrai... (Marc Levy)

Tout le monde la déjà lu mais pas moi. Maintenant c'est fait et comme la
plupart des lecteurs j'ai été conquis par ce roman. L'histoire menée avec
rythme nous envoûte très rapidement. On se sent embarqué au fil des pages dans
la vie de cet architecte pour qui tout va bien... Un peu de piment dans sa vie
nous plonge dans des réflexions que l'on manque trop facilement au rythme où
vont nos vies aujourd'hui.

Cette histoire n'a fait que confirmer une envie en moi.... Visiter la région
de San Francisco et la côte jusqu'à Monterey... Un roman qui se dévore et qui
laisse un souvenir agréable... Un plaisir! De plus le personnage de Paul est
réellement hilarent.

# Le dictateur et le hamac (Daniel Pennac)

Mon premier roman de Pennac. Une histoire drôle dans tout les sens du terme.
J'en ressors avec dans la tête une histoire confuse mais qui m'a fait passer
un bon moment en compagnie du narrateur... dans son hamac. On est projeté dans
les péripéties d'un président et de quelques-uns de ses sosies successifs
lorsque lui-même se rend compte qu'il est agoraphobe...

Un humour que je n'avais encore que peu rencontré dans les livres... Décalé,
délicieux.

# Le meilleur des mondes (Aldous Huxley)

Le meilleur des mondes se situe dans les romans d'anticipation. Ecrit après la
guerre, ce roman décrit la vie dans un futur où les bébés ne sont plus conçus
naturellement mais par un long processus régulé par des humains qui sont
eux-mêmes des "humains" conditionnés depuis leur naissance. Pour que
l'équilibre soit toujours de mise, un système de classe a été défini. On se
retrouve alors à suivre la vie d'un homme de haute classe qui est quelque peu
différend des autres... Il réfléchit, se pose des questions, aime être seul...

J'ai eu du mal à entrer réellement dans l'histoire mais finalement ce bouquin
m'a plu. L'imagination de l'auteur est impressionnante... A quand les cinéma
sentants? La distribution de soppor? La familiarisation à la mort?

{% endarticle %}
{% endblock %}