{% extends '_post.html' %}
{%hyde
title: "Lectures #5"
created: 2008-07-01
categories:
    - lectures %}
{% block article %}
{% article %}

La lecture est une passion pour moi, j'adore me plonger dans toutes sortes
d'histoires. Ces temps-ci je suis passé par des styles très différents comme
va le montrer mes différentes critiques: 

# For one more day - Mitch Albom
Ce récit m'a beaucoup touché. L'histoire raconte la relation d'un homme
avec sa mère et rejoint le style de L'Enfant d'Hiroshima que j'avais également
beaucoup apprécié. Les histoires entre un enfant et sa mère m'ont toujours
passionné et ému. Je ne suis pas sûr de savoir pourquoi mais ce qui est sûr
c'est que j'aime me remémorer mes moments à moi avec ma maman... Et c'est sûr
que ce genre de récit aide à s'en rappeler! Bref, après avoir lu cette
histoire on est un peu plus déterminé à profiter de l'instant présent et à
faire plus attention aux gens qu'on aime et à leur montrer qu'on les aime
justement... Je ne peux que conseiller cette lecture, un 5/5! 

# Les robots - Isaac Asimov
On passe dans un style complètement différent! Livre à grand succès et lu par une grand public
amateur de SF, j'y avais jusqu'alors échappé mais me réjouissais grandement de
le lire. La seule chose que je peux dire c'est que je l'ai dévoré et que
l'histoire m'a pationné, mais malheureusement allez savoir pourquoi je ne me
rappelle plus trop pourquoi. Voilà ce que c'est que de ne pas écrire tout de
suite les critiques de ses lectures! Je conseille aussi cette lecture à 4/5.
Je me rappelle juste avoir eu un ou deux passage un peu longuet... 

# Le maître de Garamond - Anne Cuneo

Après [avoir parlé récemment][4] de cette lecture sur un aspect particulier, je peux juste dire que cette lecture est un
moment vraiment agréable passé au contact de personnes ayant vécu au 16ème
siècle aux débuts de l'imprimerie. On y retrouve des valeurs que j'apprécie
beaucoup: abnégation, curiosité, fidélité. Ceux qui aiment les récits
historiques seront servis avec cette oeuvre d'Anne Cuneo. J'ai bien envie de
parcourir le reste de ses oeuvres. 

# Hackers & Painters - Paul Graham

On est plus dans un recueil d'essais technologiques et psychologiques
avec ce livre... Quand je disais que je suis passé par plusieurs styles ces
temps... Paul Graham est un homme très intelligent et cela se ressent tout au
long du livre. Ce livre est davantage ciblé à un public d'informaticien mais
par-ci par-là des textes deviennent accessibles à tout un chacun (je pense par
exemple à What You Can't Say ou encore How to Make Wealth) et font bien
réfléchir, j'adore! Tous les essais contenus dans le livre sont en ligne sur
le site de Paul Graham: [http://www.paulgraham.com/articles.html][6]
Appréciation: 5/5 

# Neverwhere - Neil Gaiman

J'ai été un peu déçu par la lecture de ce roman SF de l'auteur de Stardust (dont j'ai d'ailleurs adoré
l'adaptation au cinéma). C'est l'histoire d'un gars qui passe d'un instant à
l'autre de la vie d'un fonctionnaire sans histoire à une vie de quête dans un
monde qu'il ne connaissait même pas: le Londres d'en-dessous. On découvre
alors un monde imaginaire mais loin de ce que je recherche dans ce genre de
roman: l'évasion! Pas facile d'expliquer pourquoi je n'ai pas été embarqué
mais cela doit se résumer au fait que je n'avais tout simplement pas l'envie
d'y être. Un peu simplet mais par exemple par rapport au Robots, je crois
qu'il y avait trop d'abstrait dans ce roman. Je dois être un poil trop
pragmatique pour être emporté par ce genre d'oeuvres... Et pourtant j'ai adoré
la série d'Arthur de Marion Zimmer Bradley donc aller savoir, faut pas
chercher... Je note 3/5 car c'est quand même assez bien écrit. 

# Gros problème - Dave Barry

Je termine par le non des moindres Gros problème: une comédie carrément hilarente! [Dave Barry][9] est un chroniqueur pour le [Miami
Herald][10] entre autre et je ne sais plus trop comment mais c'est comme ça
que je l'ai découvert. Il est très connu et apprécié aux Etats-Unis. Si on est
fan de l'humour british c'est un must du genre. C'est une histoire tellement
rocambolesque et absurde: à mourir de rire! Je me rappellerai encore longtemps
du chien appeuré par un gros crapaud dans sa gamelle! Rien que d'y penser j'ai
envie de rire... Enfin bref le seul point négatif dans tout ça c'est qu'il y a
trop peu de livre de lui!! Je le note sans conteste 5/5. ... Je n'en ai pas le
temps maintenant mais je recommande aussi la lecture d'Ensemble c'est tout de
Gavalda... Tous mes livres (depuis quelques mois) sur librarything: [http://www.librarything.fr/catalog/poxd][11]

   [4]: http://www.poxd.org/2008/06/13/le-matre-de-garamond/


   [6]: http://www.paulgraham.com/articles.html

   [9]: http://www.davebarry.com/

   [10]: http://www.miamiherald.com/dave_barry/

   [11]: http://www.librarything.fr/catalog/poxd



{% endarticle %}
{% endblock %}
