{% extends '_post.html' %}
{%hyde
title: "Lectures #4"
created: 2008-02-28
categories:
    - lectures %}
{% block article %}
{% article %}

Cela fait un bout de temps que je n'ai plus parlé de mes lectures. Je ne vais
pas les mentionner toutes mais il y en a une ou deux qui en valent la
peine.

# Le juge d'Egypte (Christian Jacq)

Les histoires narrées par _Christian Jacq_ sont rarement décevantes. On y retrouve une fois de plus pour son compte grâce aux
multiples péripéties rencontrées par _Pazair_, petit juge provincial. Le
personnage est armé de forts sentiments de justice et d'intégrité; bien sûr ce
ne sera pas du goût de tout le monde.L'intrigue tourne autour d'un mystérieux
vol ayant lieu dans l'une des grandes pyramides. Et ce n'est évidemment qu'à
la toute fin que ce jeu de piste s'achève. C'est une lecture captivante et
vraiment agréable. On est mené à travers l'Egypte entier, on se trouve immergé
dans l'ambiance de cette civilisation quelque peu mythique.

# Le bouc émissaire (Daphné Du Maurier)

La seule critique pour cet ouvrage est très
favorable.Personnellement, la seule oeuvre que j'avais lu de _Daphné Du
Maurier_ auparavant était_ l'Auberge de la Jamaïque_ et il est clair que le
résultat n'est pas le même.L'histoire est plus lente et m'a personnellement
moins captivé. D'ailleurs j'ai l'impression que si je me lance à expliquer en
quelques mots l'histoire j'en dirai déjà beaucoup trop si des candidats à
cette lecture passent par là. C'est dire si c'est lent ;) Au delà de cela on
retrouve tout de même la belle et agréable écriture de l'auteure avec des
personnages très bien décris.J'ai aussi pu lire _Cyrano de Bergerac_ récemment
(eh oui je ne l'avais pas encore lu) et force est de constater que c'est un
chef d'oeuvre! Un réel hommage à la langue française. C'était un véritable
plaisir de me plonger dans ce bouquin, cela ne m'étonnerais pas que je le
relise un jour.Pour finir, je déconseille la lecture de _J'irai cracher sur
vos tombes_ de _Boris Vian_. C'est trop cru (voir repoussant) à mon goût.

   [4]: http://www.amazon.fr/Bouc-emissaire-Maurier/dp/2859405321/ref=sr_1_3?ie=UTF8&s=books&qid=1204273493&sr=8-3



{% endarticle %}
{% endblock %}
