{% extends '_post.html' %}
{%hyde
title: "Les 110 meilleurs livres à lire"
created: 2009-02-07
categories:
    - lectures 
    - 110 meilleurs livres %}
{% block article %}
{% article %}

**MAJ:** pour encore plus de listes de recommandations voici une source
intéressante: [Flashlight Worthy][1]. Vous connaissez un autre site du même
style? N'hésitez pas à m'en faire part, j'en suis friand!

Lire c'est la liberté, lire c'est se cultiver mais lire peut aussi parfois
devenir ennuyeux lorsqu'on tombe sur une oeuvre qui ne nous accroche pas. Dans
ce cas-là, on est libre d'arrêter la lecture bien sûr... Mais pourquoi donc je
n'arrive pratiquement jamais poser un livre qui ne me plaît même pas? Pennac
le dit pourtant très bien dans Comme un roman, on a le droit de lire à voix
haute, on a le droit de ne pas lire, on fait ce qu'on veut avec un livre, le
but est de passer un bon moment... Bref, je ne sais pas. Mais si j'essayais de
contourner le problème et de ne trouver que des livres passionants! C'est vrai
quitte à lire au moins que des bons livres!

Vers qui se tourner pour obtenir de bonnes recommandations? Je suis tombé il y
a déjà un bout de temps de celà sur un article du [Telegraph][2] mentionnant
les 110 meilleurs livres à lire. Autant commencer par ceux-là! Lesquels sont
déjà passés entre vos mains? Lesquels vous ont le plus marqués? Des coups de
coeur?

J'ai commencé à en faire une [liste cadeau sur Amazon][3] si cela vous
intéresse de vous les procurer (ou de m'en offrir un ;) ). Par défaut, j'y
insère la version livre de poche pour que le porte-monnaie supporte la charge.
Au final, il y aura plus de 110 livres puisque certaines oeuvres sont en
plusieurs volumes. Il est à noter également que certains livres mentionnés
dans l'article ne trouve pas de correspondant en français, je ne les ai donc
pas ajoutés. Bon voyage!

[![Love books][4]][5]

Photo Flickr: _for the love of books_ par [Chocolate Geek][6]

**The Iliad and The Odyssey** par Homer

**The Barchester Chronicles** par Anthony Trollope

**Pride and Prejudice** par Jane Austen

**Gulliver's Travels** par Jonathan Swift

**Jane Eyre** par Charlotte Brontë

**War and Peace ** par Tolstoy

**David Copperfield** par Charles Dickens

**Vanity Fair** par William Makepeace Thackeray

**Madame Bovary** par Gustave Flaubert

**Middlemarch** par George Eliot

**Sonnets** par Shakespeare

**Divine Comedy** par Dante

**Canterbury Tales** par Chaucer

**The Prelude** par William Wordsworth

**Odes** par John Keats

**The Waste Land** par T. S. Eliot

**Paradise Lost ** par John Milton

**Songs of Innocence and Experience** par William Blake

**Collected Poems** par W. B. Yeats

**Collected Poems** par Ted Hughes

**The Portrait of a Lady** par Henry James

**A la recherche du temps perdu** par Proust

**Ulysses** par James Joyce

**For Whom the Bell Tolls** par Ernest Hemingway

**Sword of Honour trilogy** par Evelyn Waugh

**The Ballad of Peckham Rye** par Muriel Spark

**Rabbit series** par John Updike

**One Hundred Years of Solitude** par Gabriel García Márquez

**Beloved** par Toni Morrison

**The Human Stain** par Philip Roth

**Rebecca** par Daphne du Maurier

**Le Morte D'Arthur** par Thomas Malory

**Les Liaisons Dangereuses** par Choderlos de Laclos

**I, Claudius** par Robert Graves

**Alexander Trilogy** par Mary Renault [Critique: [tome 1][7] - [tome 2][8]]

**Master and Commander** par Patrick O'Brian

**Gone with the Wind** par Margaret Mitchell

**Dr Zhivago** par Boris Pasternak

**Tess of the D'Urbervilles** par Thomas Hardy

**The Plantagenet Saga** par Jean Plaidy

**Swallows and Amazons** par Arthur Ransome

**The Lion, the Witch and the Wardrobe ** par C.S. Lewis

**The Lord of the Rings** par J.R. R. Tolkien

**His Dark Materials ** par Philip Pullman

**Babar** par Jean de Brunhoff

**The Railway Children** par E. Nesbit

**Winnie-the-Pooh** par A.A. Milne

**Harry Potter ** par J.K. Rowling

**The Wind in the Willows** par Kenneth Grahame

**Treasure Island** par Robert Louis Stevenson

**Frankenstein** par Mary Shelley

**Twenty Thousand Leagues Under the Sea** par Jules Verne

**The Time Machine** par H.G. Wells

**Brave New World** par Aldous Huxley [Critique [ici][9]]

**1984** par George Orwell

**The Day of the Triffids** par John Wyndham 

**Foundation** par Isaac Asimov 

**2001: A Space Odyssey** par Arthur C. Clarke

**Do Androids Dream of Electric Sheep?** par Philip K. Dick 

**Neuromancer** par William Gibson

**The Talented Mr Ripley** par Patricia Highsmith

**The Maltese Falcon** par Dashiell Hammett 

**The Complete Sherlock Holmes ** par Sir Arthur Conan Doyle 

**The Big Sleep** par Raymond Chandler 

**Tinker, Tailor, Soldier, Spy** par John le Carré 

**Red Dragon** par Thomas Harris

**Murder on the Orient Express** par Agatha Christie 

**The Murders in the Rue Morgue** par Edgar Allan Poe 

**The Woman in White** par Wilkie Collins 

**Killshot** par Elmore Leonard 

**Das Kapital** par Karl Marx

**The Rights of Man** par Tom Paine

**The Social Contract** par Jean-Jacques Rousseau

**Democracy in America** par Alexis de Tocqueville 

**On War** par Carl von Clausewitz 

**The Prince** par Niccolo Machiavelli  ** [Critique [ici][10]]

**Leviathan** par Thomas Hobbes 

**On the Interpretation of Dreams** par Sigmund Freud

**On the Origin of Species** par Charles Darwin 

**L'Encyclopédie** par Diderot, et al

**Zen and the Art of Motorcycle Maintenance** par Robert M. Pirsig

**Jonathan Livingston Seagull** par Richard Bach

**The Hitchhiker's Guide to the Galaxy** par Douglas Adams

**The Tipping Point** par Malcolm Gladwell

**The Beauty Myth** par Naomi Wolf

**How to Cook** par Delia Smith

**A Year in Provence** par Peter Mayle

**A Child Called 'It' ** par Dave Pelzer

**Eats, Shoots and Leaves** par Lynne Truss

**Schott's Original Miscellany** par Ben Schott

**The Decline and Fall of the Roman Empire** par Edward Gibbon

**A History of the English-Speaking Peoples ** par Winston Churchill

**A History of the Crusades** par Steven Runciman

**The Histories** par Herodotus

**The History of the Peloponnesian War** par Thucydides **[Critique: [tome1][11]]

**Seven Pillars of Wisdom** par T. E. Lawrence

**A People's Tragedy** par Orlando Figes

**Citizens: A Chronicle of the French Revolution** par Simon Schama

**The Origins of the Second World War** par A.J.P. Taylor

**Confessions** par St Augustine

**Lives of the Caesars** par Suetonius

**Lives of the Artists** par Vasari

**If This is a Man** par Primo Levi

**Memoirs of a Fox-Hunting Man** par Siegfried Sassoon

**Eminent Victorians** par Lytton Strachey

**A Life of Charlotte Brontë** par Elizabeth Gaskell

**Goodbye to All That** par Robert Graves

**The Life of Dr Johnson** par Boswell

**Diaries** par Alan Clark

**[Source : [_110 best books: the perfect library_][12]]**

   [1]: http://www.flashlightworthybooks.com/

   [2]: http://www.telegraph.co.uk/

   [3]: http://www.amazon.fr/gp/registry/wishlist/1C2C0ZYLXXUVS/ref=cm_wl_rlist_go

   [4]: http://www.poxd.org/wp-content/uploads/2009/02/471634239_8aa6879098.jpg (Love books)

   [5]: http://flickr.com/photos/vipulmathur/471634239/

   [6]: http://flickr.com/photos/vipulmathur/

   [7]: http://www.poxd.org/blog/2009/04/04/critique-de-livre-alexandre-le-feu-du-ciel/

   [8]: http://www.poxd.org/blog/critique-de-livre-lenfant-perse/

   [9]: http://www.poxd.org/blog/2007/12/17/lectures-3/

   [10]: http://www.poxd.org/blog/2009/03/08/critique-de-livre-le-prince-de-machiavel/

   [11]: http://www.poxd.org/blog/critique-de-livre-histoire-de-la-guerre-du-peloponnese-tome-1/

   [12]: http://www.telegraph.co.uk/culture/books/3672376/110-best-books-The-perfect-library.html



{% endarticle %}
{% endblock %}
