{% extends '_post.html' %}
{%hyde
title: "Les atouts de Flex selon Ward"
created: 2008-07-21%}
{% block article %}
{% article %}
Une [interview][1] très intéressante à lire si vous vous intéressez au
développement Flex mais que vous ne savez pas trop quels en sont les
avantages. [James Ward][2] répond au CEO d'[EffectiveUI][3] en mentionnant par
exemple deux cas d'utilisations en entreprise. Il met également en avant les
résultats d'une étude en cours d'élaboration par les gaillards d'Adobe : 30%
de temps de gagné en choisissant Flex! Certainement à prendre avec des
pincettes. MAIS! Oui mais.. Quelques lignes plus haut, Ward explique que le
temps perdu à débugger de l'AJAX, on le récupère directement sur Flex puisque
le framework gère lui-même les communications client/serveur. Or... Le temps
de débuggage quantifié est égal à... 30%! Vous en avez marre de débugger de
l'AJAX? Il serait peut-être temps de jeter un oeil à Flex...

![][4]

### Thinking in Flex!

Toujours dans l'actualité Flex, le blog [Code moi un mouton][5] nous apprend
une [bonne nouvelle][6]:

> **Scoop:** James Ward et Bruce Eckel (l’auteur de Thinking in Java)
préparent un livre de 120 pages qui s’adresse à tous les développeurs qui
souhaitent apprendre Flex. Ca sent le best-seller…

Pour ceux qui ont parcouru [Thinking in Java][7] (j'ai pu faire mes débuts
avec cet excellent bouquin) et qui souhaite en apprendre un peu plus sur Flex,
je sens que ca va être le point de départ idéal! Je me réjouis! Et pour finir
en beauté avec le monde Flash/Flex (du moins avec ce post), voici le dernier
clip de Radiohead réalisé en flash et ce sans caméra(!):  [Quelques
explications ici][8] et [ici][9].

   [1]: http://www.uiresourcecenter.com/rich-internet-applications/articles/the-ria-puzzle.html?s=2_1

   [2]: http://www.jamesward.com/wordpress/2008/07/16/the-ria-puzzle/

   [3]: http://www.effectiveui.com/redirect.php?source=uirc

   [4]: http://www.digitalbucket.net/Public/Download.ashx?q=edfd82fec6f30d1ca20b0dbcc90d2b91

   [5]: http://codemoiunmouton.wordpress.com/

   [6]: http://codemoiunmouton.wordpress.com/2008/07/09/soiree-java-avec-james-ward/

   [7]: http://www.mindview.net/Books/TIJ/

   [8]: http://www.insideria.com/2008/07/impressive-data-visualization.html?sdid=DKANW

   [9]: http://blog.papervision3d.org/2008/07/15/radiohead%e2%80%99s-house-of-cards/


{% endarticle %}
{% endblock %}