{% extends "_post.html" %}
{%hyde
   title: "Linux's Forgotten Man"
   categories:
   - libre
   - open source
   created: 2010-05-09
%}
{% block article %}
{% article %}

En cette fin de weekend plutôt maussade, un excellent article, concis
et riche à propos de RMS et de sa position par rapport à Linus
Torvals, créateur du noyau Linux. On y découvre également une fois de
plus que l'open source n'est pas forcément éthiquement relié au
mouvement du logiciel libre.

Aujourd'hui bien que Linux ne soit *que* le noyau et non le système
d'exploitation dans son ensemble, le commun des utilisateurs **et**
des dévelopeurs n'utilisent plus que Linux pour le désigner. Comme le
montre bien cet extrait ce n'est pas sans chagriner RMS.

> "[Torvalds] is basically an engineer," Stallman said. "He likes free
software, but isn't concerned with issues of freedom. That's why I'm
unhappy when the GNU system is called Linux.... People are no longer
exposed to the philosophical views of the GNU project."

-- [Linux's Forgotten Man][1], article [wired](http://wired.com) du 3 mai 1999

Bonne semaine à tous!

[1]: http://www.wired.com/science/discoveries/news/1999/03/18291

{% endarticle %}
{% endblock %}
