{% extends "_post.html" %}
{%hyde
   title: "Livre vs livre électronique: chacun sa place"
   categories:
    - divers
    - lecture
   created: 2010-10-14
%}
{% block article %}
{% article %}

{% markdown %}

Printemps 2009, je rejoins le département R&D de Merck Serono au 1er
étage des magnifiques locaux genevois. J'allume mon outil de travail
et me coule un doux nespresso-lait pour bien démarrer ma journée. Je
reviens à mon écran, pose mon café, tape au clavier mon identifiant et
retourne à mon café lorsque ma main gauche -- elle porte bien son nom
celle-là -- prend l'envie soudaine de 1) ruiner mon café et de 2)
inonder mon bouquin du moment, l'excellent [The Pragmatic Programmer:
From Journeyman to Master][1]...


Bilan des courses, mon bouquin a pris des couleurs mais je peux heureusement
toujours le lire dans son intégralité et mon pc n'a subi aucun dommage.
Plus de peur que de mal...

[1]: http://www.amazon.fr/gp/product/020161622X?ie=UTF8&tag=thpowo-21&linkCode=as2&camp=1642&creative=19458&creativeASIN=020161622X

{% endmarkdown %}

<div class="two left">
     <img src="/media/images/ebook-vs-book.png" alt="ebook vs livre" width=110%/>
</div>

<div class="four  left lr">
{% markdown %}

Certains pensent que les livres au format électronique vont supplanter
à terme les livres au format papier. J'espère au fond de moi que ce ne
sera jamais le cas ou du moins pas de mon vivant et je compte profiter
de ce billet pour expliquer pourquoi.

Chaque format ayant ses avantages laissez-moi commencer par mon
préféré, le livre, le vrai.
Les avantages du livre sont multiples et on peut les aborder au
travers de certains de nos sens.

{% endmarkdown %}
</div>
<div class="left two">&nbsp;</div>
<div class="left four lr">
{% markdown %}

**La vue.** Aujourd'hui mon livre brunit par le café
occupe une place de choix aux côtés d'autres livres techniques et
lorsque je le prends, que je l'ouvre, de revoir les ondulations et la
couleur des pages me rappellent automatiquement cet épisode
burlesque. D'autres livres me renvoient d'autres souvenirs. Pour l'un
ce sera au travers d'une cornure, pour l'autre une déchirure, etc. Ces
éléments qui font qu'un livre vit, qu'il est unique me font préférer
le livre papier. La vue entre en jeu également lorsqu'on est face non
plus à un seul livre mais à une bibliothèque entièrement couverte de
bouquins. Chez moi, je passe tous les jours devant la mienne et
j'adore ça. J'adore pouvoir me poser devant elle et me rappeler ce que
m'a apporté telle ou telle lecture. J'adore sortir un de mes livres et
le feuilleter quelques minutes... Impossible de retrouver la même
expérience devant un iPad ou autre Kindle.

**L'odorat.** Une de mes manies consiste à ouvrir chaque nouveau
  livre, d'y plonger mon nez et d'inspirer cette odeur d'encre et de
  papier imprimé. J'adore. C'est quelque chose qui me manque
  clairement devant mon iphone ou tout autre lecteur électronique.

**Le toucher.** Ce grain sous le doigt ou au contraire cette douceur
  des livres grand format. Le contact est plus direct, le lien entre
  le livre et le lecteur est plus proche du fait qu'il n'y ait pas
  *d'intermédiaire* forcément.

L'expérience et la culture du livre font pencher la balance
pour ma part mais je suis un geek et un geek ça aime tous ces engins
électronique, non? C'est sûr que même si je ne veux pas
voir le livre papier disparaître, le livre électronique vient aussi
avec ses avantages.

Le premier ebook que j'ai pu lire -- en entier -- a été la [biographie
de Richard Stallman][2]. J'avais commencé par plusieurs fois cette
biographie directement sur mon laptop mais à chaque fois j'ai
abandonné. Je crois qu'il y a trop de distractions sur un ordinateur
pour pouvoir y lire correctement; entre les développements que je
pourrais faire, défiler mes abonnements dans google reader, aller sur
twitter, chatter, etc. Impossible pour moi, c'est pas l'outil qu'il me
faut.  J'ai donc transféré l'ebook sur mon iphone et malgrés la petite
taille de son écran j'ai trouvé l'expérience agréable et j'ai lu tout
le bouquin.  Un lecteur électronique nous permet de faire des
annotations, mémoriser des passages, lancer une recherche, modifier
l'apparence à souhait, etc. Les fonctionalités sont nombreuses et
bienvenues. Bien sûr on a l'avantage également de pouvoir se trimbaler
un nombre indécent de livres avec soi tout en les ayant dans la poche,
là ça commence à devenir un sacré plus! Economiquement évidemment les
avantages sont aussi là, les coûts baissant drastiquement à (quasi)
tous les niveaux de l'échelle de production. On en profite nous
lecteurs sur le prix d'achat.

[2]: http://framabook.org/stallman.html

{% endmarkdown %}
</div>

<div class="two left">&nbsp;</div>
<div class="four left lr">
  <p>
Ce format permet également de soutenir d'une manière
incroyable les pays en voie de développement.
  </p>
</div>

<aside class="two left raligned">
{% markdown %}

> nearly two billion children of the developing world with little or
no access to education
-- [OLPC,vision](http://laptop.org/en/vision/mission/index.shtml)

{% endmarkdown %}
</aside>
<div class="four left lr">
{% markdown %}

Vous avez peut-être en effet déjà entendu parler du
projet <abbr title="One Laptop per Child">OLPC</abbr>? Ce projet a
pour but de fournir un ordinateur portable à tout enfant en âge de
scolarisation dans les pays en voie de développement. Ces enfants
peuvent alors avoir accès à une mine d'information qui ne profitait
jusqu'à aujourd'hui qu'à une poignée de privilégiés. Le livre
électronique est un précieux levier à la mise en route de ce genre de
projet de part son faible coût d'acquisition, de transport et de
stockage.

Tout ça mis dans la balance me pousse à croire que les livres quel que
soit leur support ont leur place. Je ne me passerai personnellement
jamais de l'expérience que procure un *vrai livre* quitte à payer plus
cher. Cela dit je ne crache pas sur les avantages du livre
électronique et me réjouis déjà de goûter l'expérience que procure un
Kindle dernière génération...

{% endmarkdown %}
</div>

{% endarticle %}
{% endblock %}
