{% extends '_post.html' %}
{%hyde
title: "Macbook arrivé!"
created: 2007-09-22%}
{% block article %}
{% article %}
Quel bonheur!

J'ai donc reçu mon macbook pro jeudi dernier dans l'après-midi. Je l'avais
commandé fin août suite à mon embauche chez Logica. J'ai longtemps hésité
entre un macbook et un macbook pro mais la taille de l'écran ainsi que la
carte graphique a forcé mon choix. J'avais en effet peur qu'un écran de 13"
soit un peu short pour du dev et la carte graphique (une GeForce 8600M GT de
256mo) va me permettre de faire de la virtualisation sans problème. La
livraison a donc pris du temps, mais l'attente est justifiée lorsque l'on
constate la qualité du package. Un emballage splendide et l'intérieur
également. Dans ce domaine Apple est vraiment remarquable; c'est beau et ca
fait d'autant plus plaisir! Voilà maintenant je n'ai plus qu'à configurer ma
station de bureau en mode serveur pour avoir accès à tout mon travail effectué
sans tout transférer.... J'adoooorrrrreeeee ca....

Au boulot!

[posted with [ecto][1]]

   [1]: http://ecto.kung-foo.tv


{% endarticle %}
{% endblock %}