{% extends '_post.html' %}
{%hyde
title: "Merck Serono, 1er retour d'expérience"
created: 2008-08-21%}
{% block article %}
{% article %}
Cela fait maintenant quelques mois que je suis en mission chez [Merck
Serono][2] et comme à l'accoutumée, changement d'environnement de travail,
gain d'expérience! Si je voulais faire une petite rétro perspective, je
pourrais dire que j'en ai surtout appris au niveau de l'organisation de **mon
**travail. Et sous ce rapport j'aime assez ce qu'a dit Ralph  Waldo Emerson:

> L'ancêtre de chaque action est une réflexion.

C'est si facilement dit; et pourtant ce n'est que depuis mon passage chez
Merck que je me rends compte combien il est important au début de chaque
journée de réfléchir à ce qu'il y a à faire (surtout dans l'environnement de
travail ici). La réflexion sera dans la majorité des cas triviale mais d'une
importance majeure! Ici (département de recherche informatique chez Merck
Genève) il y a peu d'organisation et plusieurs petits projets (principalement
en maintenance pour ma part). Bien souvent chacun mène le sien comme il
l'entend et il n'y a ni de specs, ni un planning, ni rien (!). Il y a bien un
chef de projet qui supervise le tout mais nous sommes en quelques sorte chacun
notre propre chef de projet... On aime ou pas. Pour ma part il faut dire que
je suis assez surpris que dans une entreprise de cette envergure il y ait
autant de liberté. Quand on a l'habitude d'être cadré un minimum on peut
facilement se sentir perdu ou rapidement démotivé. Ça a été un peu mon cas, le
temps de s'adapter. Car c'est vrai cela peut paraître génial d'avoir autant de
largeur mais ne pas avoir d'objectif défini ni un temps imparti peut
rapidement amener à un sentiment de lassitude. Je me suis alors rendu compte
de mon devoir de prendre les choses en main.

## Réflexion avant d'agir

La première chose que je fais maintenant en arrivant à mon bureau est de
dresser la liste des tâches à effectuer durant la journée en mentionnant
également la première action concrète pour y arriver ainsi qu'un temps
imparti. Cela peut parraître rien du tout mais en attendant cela me cadre bien
mieux mon travail! Dans un environnement de projet normal ce genre de choses
sont imposées par le chef de projet, mais lorsque cela ne se fait pas, il
**faut **se l'imposer. Dans mon cas en tout cas c'est vraiment important.
Chaque expérience permet d'en apprendre un peu plus. Ici, en plus d'en
apprendre au niveau technique, je suis content d'avoir eu la possibilité de
m'améliorer dans mon organisation et de m'être adapté à mon environnement de
travail.

   [2]: http://www.merckserono.net/


{% endarticle %}
{% endblock %}