{% extends '_post.html' %}
{%hyde
title: "Michael Crichton s'en est allé"
created: 2008-11-06%}
{% block article %}
{% article %}
Un grand nom de la science-fiction s'en est allé en la personne de [Michael
Crichton][1]. Brutalement décédé le 4 novembre des suites d'un cancer, il
laisse derrière lui pas moins de [429 travaux][2] dont certaines pointures
comme la série Urgences, les Jurassic Park ou encore Sphère et Prisonnier du
temps... N'hésitez pas à parcourir ses oeuvres littéraires, ses recherches
dans les domaines technologiques en font des oeuvres fameuses!

   [1]: http://www.crichton-official.com/

   [2]: http://worldcat.org/identities/lccn-n50-18616


{% endarticle %}
{% endblock %}