{% extends '_post.html' %}
{%hyde
title: "Netbeans et Python"
created: 2008-07-10
categories:
    - dev %}
{% block article %}
{% article %}

[Netbeans][1] est déjà un excellent IDE pour le langage Java, C/C++ et Ruby.
Il est certainement trop peu utilisé (moi y compris) face au quasi standard
Eclipse... Mais l'actualité récente le concernant devrait encourager plus d'un
à au moins l'essayer. Ses créateurs lui ajoutent en effet régulièrement [le
support de nouveaux langages][2]. 

<div style="text-align:center;"><img src="http://python.org/images/python-logo.gif" alt="python"/></div>

Déjà avec la sortie de la version 6, Netbeans a apporté un
[support à JavaScript][4] largement apprécié par la communauté.. La version
6.5 [prédit le support][5] de Php et avant-hier, [InfoQ][6] a [diffusée
l'annonce][7] du support prévu de [Python][8]! 

Prenant forme d'un projet opensource, il est possible de retrouver les développeurs de ce projet sur le
site: [https://nbpython.dev.java.net/][9] ... Vous noterez que leur logo est
bien laid :) Excellent nouvelle que voilà, je me réjouis de voir ce que cela
va donner. C'est en tout cas une raison de plus de tester Netbeans. Python est
un langage qui monte avec constance et qui, comme le mentionne l'article
d'InfoQ, [passe gentiment devant][10] [Perl][11]. De plus, ce qui n'est pas
négligeable c'est que ce langage est très agréable à utiliser et possède une
forte communauté. Pour preuve Google a récemment lancé sa plateforme
[AppEngine][12] basée sur ce langage. 

Si vous ne connaissez pas encore ce
langage, jetez-vous dessus! Le meilleur départ: [Dive Into Python][13].
Dernière chose, Sun a lancé en parallèle un nouveau _[Developper Center][14]_
sur ce qui tourne autour de python, à ne pas manquer!

   [1]: http://www.netbeans.org/

   [2]: http://www.artima.com/lejava/articles/javaone_2008_gregg_sporar.html

   [4]: http://www.netbeans.org/kb/61/ide/javascript-editor.html

   [5]: http://wiki.netbeans.org/NewAndNoteWorthyMilestone1NB65#section-NewAndNoteWorthyMilestone1NB65-PHP

   [6]: http://www.infoq.com/news/2008/07/sun_python

   [7]: http://www.sauria.com/blog/2008/07/08/python-in-netbeans-nbpython/

   [8]: http://www.python.org

   [9]: https://nbpython.dev.java.net/ (https://nbpython.dev.java.net/)

   [10]: http://developers.slashdot.org/article.pl?sid=08/01/09/1819221

   [11]: http://www.perl.org/

   [12]: http://code.google.com/appengine/

   [13]: http://www.diveintopython.org/

   [14]: http://developers.sun.com/python/



{% endarticle %}
{% endblock %}
