{% extends '_post.html' %}
{%hyde
title: "Netbeans et PHP"
created: 2008-09-02%}
{% block article %}
{% article %}
Non je n'ai toujours pas jeté un oeil au support PHP (ni python d'ailleurs)
proposé par Netbeans. Et pourtant [j'encourageais][1] à le faire il y a
peu.... Bref c'est pas grave, une séance de rattrapage est proposée par les
éditeurs de [Netbeans TV][2] avec ce screencast:

  En moins de 10 minutes, on y aborde l'intégration d'un projet PHP
(wordpress) couplée à la gestion de sa base de données (MySQL) mais aussi du
debugging et la traditionnelle completion syntaxique. Ca vaut vraiment le coup
de le visionner en plus accompagné par un accent indien toujours aussi sympa!

   [1]: http://www.poxd.org/?p=78

   [2]: http://netbeans.tv


{% endarticle %}
{% endblock %}