{% extends '_post.html' %}
{%hyde
title: "Nouveau venu dans la famille des podcasts sur Java"
created: 2009-04-15
categories:
    - dev
    - divers %}
{% block article %}
{% article %}

Il s'appelle [Les Cast Codeurs Podcast][1] et c'est le tout nouveau podcast à
propos du monde Java. On y parle également des langages supportés par la
machine virtuelle tels que Groovy mais on nous promet également Scala,
Clojures, etc. Le point particulier? On y parle **en français**, sympa! Le but
suivi est le suivant:

>   * discussion sur les nouvelles du monde Java avec vos hôtes habituels

>   * la sélection des outils de la semaine: un outil que l’on utilise au
quotidien pour coder ou travailler

>   * Java, les mains dans le cambouis: une discussion détaillée sur
un sujet peu connu des développeur

>   * l’interview: une interview d’un acteur Francophone (si possible) du
monde Java

Je suis un habitué de [Java Posse][2] - la référence en la matière - mais
après avoir écouté une bonne partie du 1er épisode je suis séduit. Il leur
manque un générique qui tienne la route, peut-être aussi un poil plus d'humour
mais saluons l'initiative! D'autant plus qu'avec des chroniqueurs comme
Emmanuel Bernard, Antonio Goncalves, Guillaume Laforge et Vincent Masso on
peut espérer un contenu de très haute qualité! N'hésitez pas à vous abonner au
podcast en cliquant sur le lien ci-dessous et à faire passer le message!

[![][3] Souscrire dans iTunes][4]

   [1]: http://lescastcodeurs.com/

   [2]: http://javaposse.com/

   [3]: http://lescastcodeurs.com/img/itunes.gif

   [4]: http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=312239675



{% endarticle %}
{% endblock %}
