{% extends '_post.html' %}
{%hyde
title: "Package java.lang"
created: 2008-04-01%}
{% block article %}
{% article %}
La [bibliotheque Java][1] est vaste, tres vaste. Sans conteste cela lui
procure une grande richesse puisque de ce fait il est possible de quasiment
tout faire avec. Il devient cependant de plus en plus difficile de s'y
retrouver a mesure que le langage evolue. Ces evolutions sont bien regulees
par le _Java Community Process_ mais n'empeche que les fonctionnalites sont
toujours plus nombreuses!

Je vais tenter par une serie de plusieurs articles de parcourir quelques-uns
des packages de Java afin de montrer les differentes classes disponibles. Bien
sur ce ne sera qu'un survol mais toujours utile, que l'on decouvre le langage
ou que l'on ait davantage l'habitude d'utiliser Java (enfin j'espere).

Pour bien commencer, prenons les choses par le debut: [java.lang][2]. Ce
package est automatiquement importe lorsque l'on developpe en Java. Toutes les
classes presentes dans ce package sont tres souvent utilisees dans les
programmes et le compilateur nous facilite la vie en faisant lui-meme le lien
lorsqu'il en rencontre une utilisation.

### Wrapper types

On retrouve ainsi la definition des types de Java (_Boolean_, _Byte_,
_Character_... et le venerable _Object_ sans qui rien ne serait possible). On
les nomme generalement _[Wrapper types][3] _pour faire ressortir que ce n'est
que la correspondance des types natifs (ou primitifs) qui sont utilises
lorsque l'on fait par exemple:

{% syntax java %}
int theResponse = 42;
{% endsyntax %}

Lorsque l'on code sur Java a partir de la version 5, une fonctionnalite
existante peut faire completement oublier ce concept: l'autoboxing. En effet,
precedemment le code suivant ne compilait pas:

{% syntax java %}
Integer laReponseATteVosQuestion = 42;
{% endsyntax %}

### Threading

Tous les outils de concurrences ne se trouvent pas dans ce package. Cependant,
le socle de base de la programmation multi-threading est integre dans
_java.lang_. On y trouve la classe de base: [java.lang.Thread][4] mais aussi
par exemple [java.lang.ThreadLocal][5] qui est utilisee afin d'implementer le
pattern [Thread Local Session][6].

On peut tres bien n'utiliser que la classe _Thread_ pour les besoins
concurrents. Nous verrons cependant lorsque nous aborderons le package
[java.util.concurrent][7] qu'il existe plusieurs outils supplementaires qui
facilitent la vie du developpeur lorsqu'il met le pied dans le monde du multi-
threading.

### Acces systeme

Enfin, plusieurs classes de ce package permettent de faire appel au systeme
sur lequel tourne Java.

La classe [System][8] contient uniquement des membres statiques permettant par
exemple de recuperer le flux de sortie de Java (le flux utilise pour afficher
des donnees a l'ecran, la console), le temps actuel en millisecondes ou en
nanosecondes, recuperer une variable d'environnement, enregistrer une
propriete systeme, charger une classe ou une librairie dynamiquement ou encore
enregistrer un _SecurityManager_ personnalise.

La classe [Runtime][9] est elle davantage liee au "systeme" de Java. Il est
ainsi possible de l'utiliser afin de recuperer la memoire disponible dans la
machine virtuelle, lancer le _Garbage Collector_ (aussi possible depuis la
classe _System_ qui fait en fait une redirection sur la classe _Runtime_) et
enfin avant de mentionner la derniere classe, Runtime permet d'executer un
nouveau processus systeme...

La classe [Process][10] liee donc a Runtime mais aussi a [ProcessBuilder][11]
represente un processus natif. Une utilisation de ce genre de classe peut bien
evidemment limiter la portabilite de l'application; il faut par consequent
bien reflechir quant a son utilisation.

Par exemple, pour une application graphique permettant d'executer des imports
de donnees sur une base Oracle il existe l'outil bien connu [Sql Loader][12]
qui permet de charger les donner en ligne de commande. Il sera possible
d'appeler directement depuis le code Java l'executable d'Oracle de cette
maniere:

{% syntax java %}
Process p = new ProcessBuilder("sqlldr", 
                    "userid=root control=control.ctl").start();
{% endsyntax %}

Ensuite les flux de sortie, d'entree et d'erreur sont disponibles et doivent
etre recuperes afin de pouvoir communiquer avec le processus lance.

Autour de tout cela je n'ai pas pris le temps de parler de l'ensemble
d'exceptions et d'erreurs se trouvant dans le package mais comme je l'ai dit
dans l'introduction, ce n'est et ne sera qu'un aperçu!

   [1]: http://java.sun.com/javase/6/docs/api/

   [2]: http://java.sun.com/javase/6/docs/api/java/lang/package-summary.html

   [3]: http://en.wikipedia.org/wiki/Wrapper_type

   [4]: http://java.sun.com/javase/6/docs/api/java/lang/Thread.html

   [5]: http://java.sun.com/javase/6/docs/api/java/lang/ThreadLocal.html

   [6]: http://www.ibm.com/developerworks/java/library/j-threads3.html

   [7]: http://java.sun.com/javase/6/docs/api/java/util/concurrent/package-frame.html

   [8]: http://java.sun.com/javase/6/docs/api/java/lang/System.html

   [9]: http://java.sun.com/javase/6/docs/api/java/lang/Runtime.html

   [10]: http://java.sun.com/javase/6/docs/api/java/lang/Process.html

   [11]: http://java.sun.com/javase/6/docs/api/java/lang/ProcessBuilder.html

   [12]: http://www.oracle.com/technology/products/database/utilities/htdocs/sql_loader_overview.html


{% endarticle %}
{% endblock %}