{% extends '_post.html' %}
{%hyde
title: "Paris me voilà!"
created: 2008-11-11%}
{% block article %}
{% article %}
C'est demain que débute ma formation Spring dont l'objectif est le suivant:

> Maîtriser le framework Spring pour le développement d'applications Java EE.

Pour l'atteindre cette formation de 3 jours offerte par Logica va aborder les
principes de base le 1er jour, les transactions le 2ème et enfin les
applications MVC et les web services vendredi... Beau programme. 

![][1] 

J'ai déjà pu aborder un peu Spring grâce au livre Spring in Action mais je me
réjouis de pouvoir acquérir de nouvelles compétences sur ce framework. En plus
coup de bol pile durant cette semaine s'organise une conférence gratuite
autour de l'[utilisabilité][2]. Je ne vais pas manquer d'y aller, si vous y
êtes faites-moi signe! A côté de tout ça je suis en train de faire un nouveau
design de ce site... Plus de nouvelles bientôt!

   [1]: http://farm2.static.flickr.com/1159/869942883_eb7264baae.jpg?v=0

   [2]: http://simpleweb.fredcavazza.net/journee-mondiale-de-lutilisabilite/edition-2008/


{% endarticle %}
{% endblock %}