{% extends "_post.html" %}
{%hyde
   title: Pourquoi j’envie les développeurs Erlang
   categories: 
    - liens
   created: 2009-06-16
%}
{% block article %}
{% article %}
Alors qu’actuellement je subis les redémarrage très coûteux du serveur JBoss…

> **What are the advantages of hot swapping?**
>  
>  You’re joking. In my world we want to build systems that are started once and thereafter never stop. They evolve with time. Stopping a system to upgrade the code is an admission of failure.

Rien à ajouter. Retrouvez toute l’interview de Joe Armstrong – créateur d’Erlang – ici: [http://www.computerworld.com.au/article/307418/-z_programming_languages_erlang?pp=3][1]
[1]: http://www.computerworld.com.au/article/307418/-z_programming_languages_erlang?pp=3
{% endarticle %}
{% endblock %}
