{% extends "_post.html" %}
{%hyde
   title: Pourquoi l'iPad va être un nouveau succès
   categories:
     - liens
   created: 2010-02-14
%}
{% block article %}
{% article %}

Bien que l'iPad ait connu un accueil en demi teinte je suis persuadé que ce sera un franc succès de plus pour Apple... Je voulais d'ailleurs en écrire un article. Mais après avoir lu "If your product is great, it doesn't need to be good", je n'ai plus rien à dire.

> if your product needs "everything" in order to be good, then it's probably not very innovative (though it might be a nice upgrade to an existing product). Put another way, if your product is great, it doesn't need to be good.

Même si beaucoup ont été déçu de voir l'absence de caméra, de flash ou encore d'un support multi-tâche ce dont on peut être quasi certain c'est que le jour où il passera entre nos mains, l'engin ne manquera pas de séduire et là bam! Tout le monde sera convaincu, parce que ce que fait Apple, Apple le fait génialement bien!

<img src="/media/images/blogspot.com.ico" style="height:22px;position:relative;top:5px;"/>&nbsp;<a href="http://paulbuchheit.blogspot.com/2010/02/if-your-product-is-great-it-doesnt-need.html">If your product is great, it doesn't need to be good</a>


{% endarticle %}
{% endblock %}
