{% extends '_post.html' %}
{%hyde
title: "Que conseilleriez-vous à quelqu'un qui voudrait devenir programmeur mais sans aller à l'uni?"
created: 2009-01-22
categories:
    - divers 
    - dev %}
{% block article %}
{% article %}

Un changement d'orientation professionnelle est aujourd'hui certainement plus
facile qu'auparavent. La question se pose donc pour les programmeurs
reconvertis mais également à ceux qui n'ont pas la possibilité d'accéder à une
formation supérieure (pour cause de manque de financement, de temps, charges
familiales, etc.) ou encore qui n'en ont tout simplement pas envie! **Quels
conseils donneriez-vous à quelqu'un voulant devenir programmeur sur le tas
sans passer par une formation universitaire?** Premièrement, ne pas baisser
les bras c'est tout à fait possible! Le monde online donne accès à une mine
d'information gigantesque. Le plus dur sera donc peut-être de s'organiser pour
tirer le meilleur parti possible de ce savoir qui nous tend les bras. Dans ce
sens, il faudra sûrement résister à la tentation de vouloir trop en faire. Le
développement couvre une foule de sujets intéressants, attention donc à ne pas
se disperser. Une tactique peut être de dresser une liste de sujets ((Ne pas
hésiter à demander de l'aide pour élaborer cette liste)) à suivre afin
d'assimiler tous les concepts dans l'ordre. La deuxième étape sera de trouver
les informations pour chaque sujets, cela peut aller d'un simple tutoriel à un
cours online et gratuit donné -- justement -- par une université. Internet a
grandement encouragé le partage du savoir, autant en profiter!

# Par où commencer?

Voici un extrait d'une [discussions sur reddit][1]:

![Conversation sur reddit - repère de Hackers][2]

LE livre donc par lequel commencer: [SICP][3]. Rendez-vous sur ce site,
récupérez le livre -- gratuitement -- et étudiez-en le contenu. Etudier,
c'est-à-dire lire, visionner les [vidéos ][4]et -- surtout -- faire les
exercices, tout les exercices! On n'est pas à l'école mais justement raison de
plus! Il faut vraiment assimiler le contenu de ce bouquin. Un autre avantage
de se focaliser sur ce livre est qu'il devrait susciter votre curiosité et
vous pousser à approfondir vos connaissances dans le développement en général.
Prenez note de chacun de ces domaines mais gardez-les pour plus tard! C'est
aller (trop) loin que de dire qu'après avoir lu ce livre, vous serez plus
avancé qu'un informaticien sortant de l'université. Par contre, ce sera
certainement une excellente base! C'est un livre consistant mais gardez
courage et aller jusqu'au bout[^1]! Parallèlement à cela, mettez la main à la pâte: CODER! C'est en
forgeant qu'on devient forgeron. Pour se faire trouvez un projet open-source
plutôt que de partir dans votre coin. Trouvez un projet, récupérez le code
source, modifiez, testez, jouez avec. Coder est peut-être la meilleure
formation imaginable mais le plus gros avantage à développer sur un projet
open-source est de _cotoyer_ des développeurs expérimentés et souvent (très)
talentueux -- des geeks passionés. Si vous êtes perdus et que vous ne savez pas
vers quel projet vous tourner, jetez peut-être un oeil à la demande sur le
marché de l'emploi pour orienter votre choix en rapport à la technologie
utilisée.

[^1]: Je ne l'ai moi-même pas encore terminé mais je peux garantir qu'il vaut la peine d'être lu rien que pour ce que j'en ai déjà lu.

Troisième et dernier conseil, prenez régulièrement du temps pour parcourir les
blogs de développeurs que vous appréciez, voir au fil du temps que vous
admirez. Ajoutez encore à ces blogs, un ou deux sites communautaires tels que
reddit (section [programming][5]) ou encore [dzone ][6]et tenez-vous ainsi au
courant des tendances actuelles, des expériences d'autres développeurs ou
encore de l'état actuel des produits que vous aimez. Mais attention! Fixez-
vous une limite à ce temps pour qu'il ne déborde pas sur les deux princiaples
activités précédemment citées.

### Quelques articles intéressants de développeurs

  * [Teach Yourself Programming in Ten Years][7] par Peter Norvig

  * [Practicing Programming][8] par Steve Yegge

  * [How Not To Become a Rockstar Programmer][9] Jeff Atwood

  * [Do I Need a CS Degree to be a Software Developer?][10]

# Avant de nous quitter

Le plus important: programmer doit vous faire plaisir! Si vous ne prenez pas
de plaisir arrêtez, pour être développeur il faut être passionné. Devenir
programmeur se résume donc à étudier, coder, et ce dans un cycle continu.
Suivez-le si la passion vous anime! Voilà pour une liste non exhaustive de
plusieurs choses à faire pour devenir -- à mon avis -- un bon programmeur...

Qu'en pensez-vous?

   [1]: http://www.reddit.com/goto?id=7qf6f

   [2]: http://www.poxd.org/wp-content/uploads/2009/01/reddit_self_learning.png

   [3]: http://mitpress.mit.edu/sicp/

   [4]: http://groups.csail.mit.edu/mac/classes/6.001/abelson-sussman-lectures/

   [5]: http://www.reddit.com/r/programming/

   [6]: http://dzone.com/

   [7]: http://www.norvig.com/21-days.html

   [8]: http://steve.yegge.googlepages.com/practicing-programming

   [9]: http://www.codinghorror.com/blog/archives/000552.html

   [10]: http://savvyduck.blogspot.com/2009/01/do-i-need-cs-degree-to-be-software.html



{% endarticle %}
{% endblock %}
