{% extends '_post.html' %}
{%hyde
title: "Résumé 2008"
created: 2009-01-08%}
{% block article %}
{% article %}
Avec un peu de retard, je voulais quand même faire un petit bilan de 2008 et
poser quelques objectifs sur l'année 2009.

# Le boulot

2008 a marqué mes réels débuts au sein de Logica. Après mon stage de 3 mois à
Lyon, j'ai débuté ma première mission chez Merck Serono où je travaille encore
actuellement. Le métier de consultant est enrichissant et offre la possibilité
de progresser dans beaucoup de domaines. Très heureux de pouvoir profiter de
cette opportunité, je tiens encore une fois à remercier (si elle me lit)
Patricia. Merci de m'avoir donné ma chance!

# Le développement

Côté technique, j'ai passé la grande majorité de 2008 à coder en PHP -
PL/SQL (Oracle) - HTML/CSS - JavaScript (YUI). Sur la fin de l'année j'ai
également eu le plaisir de débuter un projet à temps partiel en Java (Spring,
Hibernate, Castor)... A nouveau: très satisfaisant!

# Lectures

Sur mes lectures de 2008, il m'est tout bonnement impossible de ressortir
qu'une oeuvre du lot. Voici un petit melting pot de mes lectures préférées sur
l'année:

  * Pour se marer: Gros problème de Dave Barry

  * Pour un beau français : Cyrano de Bergerac de Rostand

  * Pour gérer ses activités: Getting Things Done de Dave Allen

  * Pour une histoire touchante: For One More Day de Mitch Albom

  * Pour un moment d'Histoire: Le Maître de Garamond d'Anne Cunéo

  * Pour philosopher un peu mais pas trop: Hackers and Painters de Paul Graham

Ces bouquins ne quitteront pas de sitôt ma bibliothèque!

# PoXd

Au niveau de ce blog, il y a eu du changement en un an avec la phase relooking
dont je suis assez satisfait bien qu'il me reste encore une ou deux choses à
régler. La fréquentation est également montée d'un cran, mais ça flatte juste
mon égo à la limite... Ce blog existe surtout à usage perso. Evidemment s'il
devient utile à d'autres, j'en suis ravi! J'ai également publié davantage de
billets sur la 2ème moitié de l'année. En espérant pouvoir continuer sur ma
lancée en 2009...

# 2009

Dans un an il y a 2 choses principales que j'aimerais pouvoir dire:

  1. "J'ai terminé la lecture de SICP et - surtout - compris tout ce que j'y
ai lu." C'est un challenge, je l'ai toujours en tête et je fais ce que je peux
pour le remporter mais c'est loin d'être facile!

  2.  "Voici ma première contribution à un projet Open-Source (autre qu'un
projet perso)." J'ai déjà quelques idées de ce côté-là. Celà demande un peu
d'investissement mais je suis persuadé que celà en vaut largement la peine. En
plus le développement me passionne alors.... 

Au-delà de ces objectifs, j'aimerais beaucoup développer mes compétences
business et élargir toujours plus mes contacts. J'ai beaucoup à apprendre de
ce côté-là mais je préfère mettre plus l'accent pour le moment sur mes
compétences techniques.

C'est reparti pour une année, rempli de volonté et de bons objectifs,
souhaitons-là autant enrichissante!


{% endarticle %}
{% endblock %}