{% extends '_post.html' %}
{%hyde
title: "SCBCD je t'aurai!"
created: 2009-05-09%}
{% block article %}
{% article %}
C'est décidé. Cette année je passe la certification SCBCD autrement dit le
développement de composants EJB. Passer une certification est un exercice que
j'apprécie tant il pousse à faire le tour complet d'une technologie. En tout
cas l'expérience faite avec les certifications SCJP et SCWCD ne m'ont pas déçu
et m'ont permis d'être à l'aise et d'avoir le sentiment de maîtriser mon
sujet. Je ne connais pas encore très bien les EJB, j'ai eu à maintenir une
application qui en utilisaient mais cela reste un peu flou pour moi pour
l'instant. Le moment est propice puisque je commence également un nouveau
projet chez Merck Serono. Projet J2EE utilisant Seam, JSF et les EJB 3, je
pourrai de ce fait directement mettre en pratique ce que j'apprends et
apprendre de ma pratique. Passer une certification est anecdotique dans
l'apprentissage d'une technologie mais c'est motivant. On a envie de bien
réussir l'examen et de pouvoir ajouter une ligne à son cv n'est pas
négligeable non plus même si ça ne fait pas tout.

# Mon plan d'action

Pour y arriver dans un délai court je pense lire rapidement Mastering
Enterprise JavaBeans 3.0, disponible gratuitement sur le net. Parallèlement,
je souhaite exercer mes connaissances en utilisant pour se faire le serveur
Glassfish, implémentation de référence de SUN. Je pense également passer en
revue les specs (il y en a 3) et tester mes connaissances sur Javablackbelt.
Avec ce beau planning j'espère passer cette certification d'ici septembre.
J'espère vraiment y arriver, celà met de côté mes autres objectifs (SICP par
exemple, arg!) mais bon c'est temporaire. Si certains certifiés passent par
là, n'hésitez pas à donner vos conseils! Ressources:

  * Les objectifs de la certifications:
[http://www.sun.com/training/catalog/courses/CX-310-091.xml][1]

  * FAQ de JavaRanch sur le sujet :
[http://faq.javaranch.com/java/ScbcdLinks#scbcd50][2]

  * Tutoriel de Sun :
[http://java.sun.com/javaee/5/docs/tutorial/doc/bncns.html][3]

   [1]: http://www.sun.com/training/catalog/courses/CX-310-091.xml

   [2]: http://faq.javaranch.com/java/ScbcdLinks#scbcd50

   [3]: http://java.sun.com/javaee/5/docs/tutorial/doc/bncns.html


{% endarticle %}
{% endblock %}