{% extends "_post.html" %}
{%hyde
   title: "Soft-Shake, conférence Java, iPhone et bien plus à Genève"
   categories:
     - dev
   created: 2010-10-03
%}
{% block article %}
{% article %}

Agilité, iPhone et Java voilà les trois thèmes de la conférence
[Soft-Shake][1] qui se tiendra pour la toute première fois le 18
octobre à Genève. La conférence est organisée en commun par l'Agile
Tour de Genève, le Groupe des Développeurs iPhone de Suisse et le
Geneva JUG.

Le programme sera donc varié avec déjà des sessions qui me tiennent à
coeur: "La Tequila du développement Web" par Nicolas Martignole à
propos du framework Play!", "Les DVCS sont vos amis" par Sébastien
Douche, "The feel of Scala" par Mario Fusco et toutes les sessions du
track iPhone...

Autant le dire, je ne pourrai pas assister à toutes les sessions qui
m'intéressent mais comme le programme n'est pas encore publié je ne
peux pas me faire une idée claire de ma journée... 

Chose importante: le prix **est très raisonnable**. 100 CHF pour une
journée de conférences et le repas de midi inclus. A ce prix-là autant
en profiter, [inscrivez-vous][2]!

C'est à ma connaissance le tout premier événement de cette importance
tourné vers Java (et autres dans le cas présent) à Genève et c'est
super excitant!

[1]: http://www.soft-shake.ch

[2]: http://www.soft-shake.ch/index.php?page=attendee-fr

{% endarticle %}
{% endblock %}
