{% extends '_post.html' %}
{%hyde
title: "Teach Yourself Programming in ten years"
created: 2008-04-20%}
{% block article %}
{% article %}
Je suis retombé récemment sur cet article extrêmement intéressant: [_Teach
yourself programming in ten years_][1]. Passé l'introduction, Peter Norvig
expose plusieurs points qui selon lui sont la recette du succès pour devenir
un bon programmeur. Peter Norvig est actuellement Directeur de Recherche chez
Google US, il est donc légitime de faire confiance en ses dire. Les voici en
résumé:

  * Avoir du plaisir! Programmer parce qu'on aime ça. Et le faire avec
suffisamment d'envie pour pouvoir le faire encore dix après.
  * Avoir un échange avec d'autres programmeurs. Lire le code d'autres
développeurs . Et aujourd'hui avec la multitude de projets open sources (qui a
dit Java?) il n'y a pas d'excuse pour trouver du code écrit par des
professionnels.
  * Coder, coder, coder et encore coder! En effet, n'oublions pas que c'est en
forgeant que l'on devient forgeron.
  * Obtenir un titre universitaire permettra de postuler sur des emplois
demandant un papier et permettra également d'avoir une compréhension plus
profonde du sujet. Cependant l'expérience ne s'acquiert ni en lisant des
livres, ni en assistant à des cours. Il est donc possible de devenir un
programmeur professionnel en ayant uniquement une formation de base et en
développant ses compétences par la pratique. L'expérience de Peter Norvig nous
apprend que l'un des meilleures programmeurs qu'il ait eu l'occasion
d'embaucher était de niveau pré-universitaire (l'un des créateurs de netscape
entre autre).
  * Travailler avec d'autres programmeurs
  * Travailler sur des projets [_après _d'autres programmeurs][2].
  * Apprendre au moins une demi douzaine de langages. Un supportant
l'abstraction de class (Java, Python..), un supportant l'abstraction
fonctionnelle (Lisp, Haskel), un supportant l'abstraction syntactique (Lisp),
un supportant les spécifications déclaratives (C++ templates), un supportant
les coroutines (Scheme) et enfin un supportant le parallélisme (Sisal).
  * Prendre part dans l'effort de standardisation d'un langage. Même dans un
contexte local, sur un projet personnel par exemple.

J'ai pris la liberté de ne pas mentionner tous les points mentionnés dans
l'article. Mais rien qu'avec cette liste, il y aura certainement toujours
quelque chose à faire, à améliorer. C'est aussi cela qui est passionnant avec
l'informatique. Se dire que l'on n'aura jamais fait le tour du sujet, qu'il
sera toujours possible d'en apprendre et de nourrir abondamment sa
curiosité... Ca ca me plait!

   [1]: http://norvig.com/21-days.html

   [2]: http://www.poxd.org/2008/01/28/lunion-fait-la-forcelunion-fait-la-force/


{% endarticle %}
{% endblock %}