{% extends "_post.html" %}
{%hyde
   title: Ton ordi ne t'appartient pas
   categories:
    - libre
   created: 2010-02-09
%}
{% block article %}
{% article %}
Bien trop nombreux sont ceux qui aujourd'hui encore confondent *logiciel libre* et gratuité ou pire *logiciel libre* et piètre qualité. Le dernier exemple en date que j'ai pu trouver étant un article sur [Ars Technica][1] évoquant l'opposition de la Free Software Fondation à la *méthode* Apple encline à trop fermer ses systèmes. Je n'ai pas compté le nombre de commentaires faisant l'amalgame entre libre et gratuité. Du genre:

[1]: http://arstechnica.com/tech-policy/news/2010/01/protestors-ipad-is-nothing-more-than-a-golden-calf-of-drm.ars

> "No Free Software"?
>
>  App Store is full of free software. Or is there something we should know about?

<div style="text-align:center;"><img style="height:70%;" src="/media/images/apple-ipad-protest.jpg" alt="Apple et le monde du libre pas toujours sur la même longueur d'onde"/><p style="font-size:0.8em;">Apple et le monde du libre pas toujours sur la même longeur d'onde.</p></div>

Ca me chagrine tant il suffit de faire quelques recherches sur qu'est réellement la philosophie du logiciel libre pour comprendre que celà n'a rien à voir avec la notion de gratuité et que oui, il existe des logiciels libres de qualité. Pour aller plus loin on y trouve même une réelle idéologie ayant pour centre le partage.

Si confusion il y a aujourd'hui elle existe depuis toujours je crois. Celà vient peut-être du fait que l'effort d'évangélisation n'est pas assez présent au sein de la communité du *libre*. Je ne sais pas mais en tout les cas j'ai bien envie de mettre ma pierre à l'édifice et d'essayer d'en faire connaître davantage à ne serait-ce qu'un internaute sur ce monde communautaire fascinant.

Pour ce faire j'aborderai le sujet sous trois aspects:

1. Les origines du logiciel libre
2. Ses succès
3. Ses adversaires

Chacun de ces points faisant office d'un billet séparé, mon but ici est d'informer, de partager ce que je sais. Bien sûr j'en ai certainement à apprendre, n'hésitez donc pas à critiquer!
{% endarticle %}
{% endblock %}
