{% extends "_post.html" %}
{%hyde
    title: "Unix a 40 ans"
    created: 2009-06-14
    categories: 
     - liens
%}
{% block article %}
{% article %}
Computerworld a publié un [article](http://www.computerworld.com/action/article.do?command=printArticleBasic&taxonomyName=Operating+Systems&articleId=9133570&taxonomyId=89) intéressant sur les 40 ans de [Unix](http://www.unix.org/what_is_unix/single_unix_specification.html). Un peu d'histoire ne fait pas de mal!

Découvrez comment Ken Thompson - l'un des tout grand hacker de l'histoire - a mis à profit un mois de temps libre pour produire la première version de l'une des oeuvres majeures de l'informatique pour également donner naissance à d'autres **unix look-alike** tel que Linux.

> Nearly from the start, the system was able to, and did, maintain itself. Since all source programs were always available and easily modified online, we were willing to revise and rewrite the system and its software when new ideas were invented, discovered, or suggested by others.

Qui a dit précurseur du mouvement **open source**...
{% endarticle %}
{% endblock %}
