{% extends '_post.html' %}
{%hyde
title: "Vaincre le burnout et bien plus"
created: 2009-11-09%}
{% block article %}
{% article %}
En auteur invité, [Jeffrey][1] donne quelques astuces pour vaincre le burnout.
Ces points vont cependant bien plus loin que le combat contre le burnout et il
vaut le coup de les lire si l'on s'intéresse à travailler plus efficacement.
J'ai retenu:

  1. Progresser pas à pas

  2. Travailler moins ou se débarasser de l'inutile

  3. Etablir des limites claires et précises

... Et bien d'autres. Ces points rejoignent plus d'une fois la méthodologie
_Getting Things Done_ mais il est bien parfois de se remettre les idées en
place. Retrouvez [How to Defeat Burnout and Stay Motivated][2] sur le blog
[Zen Habits][3].

   [1]: http://artofgreatthings.com/

   [2]: http://zenhabits.net/2009/10/how-to-defeat-burnout-and-stay-motivated/

   [3]: http://zenhabits.net/


{% endarticle %}
{% endblock %}