{% extends "_post.html" %}
{%hyde
   title: "Vous faisiez quoi à 12 ans vous?"
   categories:
   - liens
   - dev
   created: 2009-08-27
%}
{% block article %}
{% article %}

Moi à 12 ans je passais mon temps entre jouer, jouer et
jouer. J'exagère mais à peine, encore aujourd'hui si ce que je dois
faire peut prendre une forme ludique je n'hésiterai pas.

Tout ça pour dire que certains à 12 ans, donnent des présentations
chez Google. Rien que ça! Ce petit bonhomme donne d'ailleurs une
introduction de très bonne facture à jQuery dans le cadre du *Summer
of Code* the Google dans lequel d'ailleurs il a officié - en tout cas
cette année - [en tant que *mentor*](http://google-opensource.blogspot.com/2009/08/wrapping-our-fifth-google-summer-of.html)!

<div style="text-align: center;"><p><object width="425"
height="344"><param name="movie"
value="http://www.youtube.com/v/8mwKq7_JlS8&hl=fr&fs=1&"></param><param
name="allowFullScreen" value="true"></param><param
name="allowscriptaccess" value="always"></param><embed
src="http://www.youtube.com/v/8mwKq7_JlS8&hl=fr&fs=1&"
type="application/x-shockwave-flash" allowscriptaccess="always"
allowfullscreen="true" width="425"
height="344"></embed></object></p></div>

Plutôt bluffant non? On peut retrouver le présentateur sur son [site](http://dmitrizone.com/) ou
encore sur [twitter](twitter).

{% endarticle %}
{% endblock %}
