{% extends "_post.html" %}
{%hyde
   title:
   categories:
   - dev
   created: "2010-05-08"
%}
{% block article %}
{% article %}
whyde[1] se trouve être ma version d'interface online d'édition de contenu s'appuyant sur hyde[2]. Encore en version préliminaire, on peut tout de même déjà l'utiliser pour publier du contenu sans plus passer par la ligne de commande. Non pas que le shell me repousse mais l'interface online me donne l'avantage de pouvoir publier du contenu depuis n'importe quel périphérique.

<code>ln -s /complete/path/to/hyde/hyde.py /usr/bin/hyde</code>

[1]: github.com/poxd/whyde
[2]: ringce.com/hyde

{% endarticle %}
{% endblock %}
