{% extends '_post.html' %}
{%hyde
title: "Wiiiiiii"
created: 2008-07-08
categories:
    - divers %}
{% block article %}
{% article %}

Nous avons fait le grand pas de nous acheter une [Wii][1]! Après la déception
de ne pas avoir réussi à m'en procurer une sur [Qoqa][2], c'est fait, nous
avons craqué face à ce système de consommation!

La Wii parce que [Nintendo][4], la Wii parce que Zelda le jeu qui m'a le plus
marqué (Ocarina of Times sur N64). La Wii parce que Wii Remote. La Wii parce
que [console virtuelle][5], parce que moins cher, parce que fun, parce que,
parce.... Bref, la Wii!

... J'ai déjà casser un verre en jouant au bowling mais que c'est fun!...
Certainement qu'à l'avenir donc nous trouverons ici et là quelques tests..

   [1]: http://www.nintendo.fr/NOE/fr_FR/wii_54.html

   [2]: http://www.qoqa.ch

   [3]: http://www.nintendo.fr/NOE/images/teaser_moods_small/wii_en.jpg

   [4]: http://www.nintendo.fr/NOE/fr_FR/index.html

   [5]: http://www.nintendo.fr/NOE/fr_FR/systems/console_virtuelle_1706.html



{% endarticle %}
{% endblock %}
