{% extends '_post.html' %}
{%hyde
title: "World Usability Day"
created: 2008-11-13
categories:
    - divers %}
{% block article %}
{% article %}

**Présentations (slides + vidéos) sont dispo [ici][1]**.

J'ai eu la chance d'être à Paris au bon moment pour assister à une série de
conférences sous le thème de l'utilisabilité appliquée aux applications RIA.
Sujet qui je dois le dire me passionne de plus en plus. Exceptionnellement,
ces conférences ce sont tenues hier soir au sein des beaux locaux de Microsoft
Paris mais la journée mondiale de l'utilisabilité c'est bien aujourd'hui jeudi
13 novembre. D'ailleurs si vous êtes sur Genève et qu'à 17h vous êtes dispo,
ne loupez pas cet événement ([En savoir plus][2])! Pour en revenir aux
conférences, c'est du condensé mais au combien instructif et varié. Avec pas
moins de 6 présentations d'agences ([PIA][3], [Tequilarapido][4]), d'éditeurs
([Adobe][5], [Microsoft][6]) et d'indépendants ([Fred Cavazza][7], [Patricia
Gallot-Lavallée][8]) on est passé par la définition des RIA et de ses nouveaux
défis au solutions proposées aux entreprises utilisant cette technologie en
passant par les concepts de jeux vidéo qui pourraient être applicables au
interfaces applicatives. Personnellement les présentations des éditeurs ainsi
que celle de Patricia m'ont particulièrement captivé. Celle de Patricia pour
son dynamisme et [la description][9] du [Flow ][10](équilibre entre challenge
et maîtrise). Les Adobe guys quant à eux m'ont scotché avec leur différentes
démos. Finalement l'introduction aux interfaces holistiques par Microsoft
n'était de loin pas en reste. Si ça ne vous dit rien c'est pas grave jetez un
oeil sur les [travaux de recherches menés par Microsoft][11] pour vous rendre
compte de ce que ça peut donner. J'ai pris quelques notes de toutes ces
conférences, mais vous pouvez trouver toutes les présentations en ligne donc
plutôt que d'en faire un résumé je vous invite à consulter directement le
contenu à la source.

## En savoir plus

  * Toutes les présentations sont disponibles sur [SimpleWeb][1].
  * [Donne-moi ce que je veux!][13] livre écrit par Patricia
  * [Patterns in interaction design][14]
  * [Thibault Imbert][15], [Michael Chaize][16], [Sam Woodman][17] (pas de
blog/portfolio/site ?), les Adobe guys.

   [1]: http://simpleweb.fredcavazza.net/journee-mondiale-de-lutilisabilite/edition-2008/

   [2]: http://www.worldusabilityday.org/world-usability-day-geneva

   [3]: http://www.piaction.com/

   [4]: http://www.tequilarapido.com/

   [5]: http://www.adobe.com/

   [6]: http://www.microsoft.com/en/us/default.aspx

   [7]: http://www.fredcavazza.net/

   [8]: http://www.strategy-interactive.com/blog/index.php/

   [9]: http://www.strategy-interactive.com/blog/index.php/2007/03/25/23-le-flow

   [10]: http://www.google.fr/search?q=flow+%2B+Mihaly+Csikszentmihalyi&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:fr:official&client=firefox-a

   [11]: http://research.microsoft.com/vibe/

   [13]: http://www.navigation-web.com/

   [14]: http://www.welie.com/patterns/

   [15]: http://www.bytearray.org/

   [16]: http://codemoiunmouton.wordpress.com/

   [17]: http://www.viadeo.com/fr/profile/woodman.sam



{% endarticle %}
{% endblock %}
