{% extends "skeleton/_index.html" %}
{% block main_content %}
<div id="contact" class="yui-g">
    <div class="yui-u first">
        <p>Un commentaire, une question ou une suggestion? Je me réjouis de vous lire!</p>
    </div>
    <div class="yui-u">
        <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>
        <script type="text/javascript">
        var z7x4z5 = new WufooForm();
        z7x4z5.initialize({
        'userName':'poxd', 
        'formHash':'z7x4z5', 
        'autoResize':true,
        'height':'389'});
        z7x4z5.display();
        </script>
    </div>
</div>
{% endblock %}