{% extends "skeleton/_index.html" %}
{% block title %}PoXd - accueil{% endblock %}
{% block main_content %}
{% recent_posts post 2 page.blog_node %}
{% filter typogrify %}
{% for p in post %}
{% if forloop.first %}
<article>
<header>
	<h1><a href="{{p.url}}">{{p.title}}</a></h1>
	<p>Publié le <time pubdate datetime="{{p.created|date:"Y-m-d"}}">{{p.created|date:"d F Y"}}</time></p>
</header>
{% markdown %}
{% render_article p %}
{% endmarkdown %}

<section class="raligned clear">
  <nav>
    {% for p in post %}
    {% if forloop.first %}
    <p class="no-margin"><a href="{{p.url}}#comments">Commenter</a> cet article</p>        
    {% endif %}
    {% if forloop.last %}
    <p class="no-margin">Billet précédent: <a href="{{p.url}}">{{p.title}}</a></p>    
    {% endif %}
    {% endfor %}
    <p class="no-margin">Découvrez le reste dans <strong><a href="/blog/index.html">les archives</a></strong>.</p>
  </nav>
</section>

</article>
{% endif %}
{% endfor %}
{% endfilter %}
{% endblock %}
