{% extends "skeleton/_index.html" %}
{% block title %}{{site.name}} - {{page.title}}{% endblock %}
{% block main_content %}
{% filter typogrify %}
<article>
<header>
	<h1>{{page.title}}</h1>
	<p>Publié le <time pubdate datetime="{{page.created|date:"Y-m-d"}}">{{page.created|date:"d F Y"}}</time></p>  
</header>
{% markdown %}
{% block article %}{% endblock %}
{% endmarkdown %}


  <section>{% block meta %}{% endblock %}</section>

  <footer id="postinfo" class="centered">
    <p>
      Publié sous {% for c in page.categories %}
      {% for category in page.node.categories %}
      {% ifequal category.name c %}
      <a href="{{category.archive_url}}">{{category.name}}</a>
      {% if page.categories|length > 1 and not forloop.parentloop.last %} · {% endif %}
      {% endifequal %}
      {% endfor %}{% endfor %}.<br/>
      Abonnez-vous au <a href="http://feeds.feedburner.com/poxd-feed">flux rss</a>
      ou suivez-moi sur <a href="http://twitter.com/poxd">twitter</a>
      pour être tenu à jour.
    </p>
  </footer>

  <section>
    <nav class="centered">
      {% if page.next %}
      <a href="{{page.next.url}}" title="{{page.next.title}}">Précédent</a>
      {% endif %}
      {% if page.prev and page.next%}      
      //
      {% endif %}
      {% if page.prev %}
      <a href="{{page.prev.url}}" title="{{page.prev.title}}">Suivant</a>
      {% endif %}
    </nav>
  </section>

  <section>
    <div id="comments">
        <h3>Ajouter un commentaire <span></span></h3>
        <div id="disqus_thread"></div>
        <script type="text/javascript" src="http://disqus.com/forums/poxd/embed.js"></script>
        <noscript><a href="http://disqus.com/forums/poxd/?url=ref">Voir le fil de discussion.</a></noscript>
    </div>
  </section>
</article>
{% endfilter %}
{% endblock %}
